.interactive-slide-wrapper.text-type
  .custom-page-header
    %h1= localize('text_slide.text_heading')
    %h4= localize('text_slide.text_sectionheading')
  .quiz-wrapper
    .col.md-12
      .col-md-6
        .edit-quiz-wrapper
          .quiz-name
            %h3
              = localize('text_slide.text_slidename')
            = link_to '', 'javascript:void(0)', class: 'edit-icon'
          .edit-quiz-name.hidden-area
            .form-group
              = text_field_tag localize('text_slide.text_slidelabel'), '', class: 'form-control'
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save'
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
      .col-md-6
        .description
          .description-label
            %span.description-heading
              = localize('text_slide.text_description')
          = link_to(localize('text_slide.add_description'), 'javascript:void(0)', id: 'editDescription')
          .description-container.hidden-area
            = text_area_tag(localize('text_slide.slide_description'))
            .description-controller.clearfix
              = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save'
              = link_to localize('text_slide.cancel'), 'javascript:void(0)', id: 'cancelDescription', class: 'pull-right cancel'
      .clearfix
  .course-template-inner.img-interactive-slide
    .span5.add-section-container.pull-left
      - 6.times do
        .add-section
            %form.image-upload-form
              = file_field '', id: 'image', class: 'file-uploader'
            .upload-course-image
          %strong.label-txt
            = localize('img_slide.img_upload_image')
    .pull-right.update-text-container
      .update-heading
        %h4= localize('text_slide.add_slide_title')
        .edit-heading.hidden-area
          = text_field_tag localize('text_slide.add_slide_name'), '', placeholder: localize('text_slide.add_slide_name_placeholder'), class: 'form-control'
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save'
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
      .text-area-container
        .is-slide-desc.editor-desc= localize('text_slide.add_text_content')
        .edit-slide-content.hidden-area
          = text_area '', placeholder: localize('text_slide.add_text_content_placeholder'), class: 'form-control description', rows: 40, cols: 50
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save'
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
      .delete-section
        = link_to localize('text_slide.delete_slide'), 'javascript:void(0)', class: 'pull-right deleteItem'
