%div
  %h2= localize('form.text_interactive_slides')
  %table.table.table-striped.table-bordered.table-condensed.table-hover
    - @interactive_slides.each do |interactive_slide|
      %tr
        %td
          = interactive_slide.id
        %td
          = interactive_slide.name
        %td
          = raw(interactive_slide.description)
