.quiz-name
  %h3{id: "#{@interactive_slide.id}", data: {emptyTitle: localize('form.empty_title_message')} }
    = "#{@interactive_slide.name}"
  = link_to '', 'javascript:void(0)', class: 'edit-icon'
  .clearfix
.editSlideName
  .form-group
    =text_field_tag('name', @interactive_slide.name ,class: 'form-control', maxlength: 40)
  =link_to('Save','#', class: 'save')
  =link_to('Cancel','#', class: 'cancel pull-right')
.quiz-description
  .desc-wrap
    .interactive-slide-desc.editor-desc
      = raw ("#{@interactive_slide.description}")
    .desc-edit-icon
      = link_to '', 'javascript:void(0)', class: 'edit-icon'
    .clearfix
.editSlideDescription
  = text_area_tag 'slide-description', raw(@interactive_slide.description), class: 'form-control description', rows: 10, cols: 50, data: {slide_description: localize('form.empty_description_message')}
  =link_to('Save',"#", class: 'save', id: 'slide-save')
  =link_to('Cancel',"#", class: 'cancel pull-right', id: 'slide-cancel')

