.interactive-slide-wrapper.text-type
  .custom-page-header
    %h1= I18n.t('course_creation.interactive_slides_informations.text_slide.text_heading', course_name: course_name)
    %h4= I18n.t('course_creation.interactive_slides_informations.text_slide.text_section_heading', section_name: section_name)
  .quiz-wrapper
    .col-md-12
      .edit-quiz-wrapper
        = render 'edit_interactive_slide'
        .edit-quiz-name.hidden-area
          .form-group
            = text_field_tag localize('text_slide.text_slidelabel'), '', class: 'form-control'
          = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveTitle'
          = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
      .clearfix
  .course-template-inner.img-interactive-slide
    .loader
    .add-section-container.pull-left
      - if @image_slides.present?
        - @image_slides.each do |slide|
          .add-section{ data: { id: slide.id,imageurl: image_path(slide), title: title_name(slide), description: slide_description(slide)} }
            - if slide.image.url.present?
              .custom-upload.image-upload.data-content.uploaded-image
                %img{src:image_path(slide)}
                %span.glyphicon.glyphicon-remove.updateImageSlide
            - else
              .custom-upload.image-upload.data-content
                .upload-course-image
      - (MAX_IMAGE_SLIDE - @image_slides.count).times do
        .image-slide-upload
    .pull-right.update-text-container#title-block
    %script{id: 'uploadImageSlideId', type: 'text/html'}
      .add-section{ data:{ id: '', imageurl: '', title: localize('text_slide.add_slide_name_placeholder'), description: localize('text_slide.add_text_content_placeholder')}}
        .custom-upload.image-upload.data-content
          .upload-course-image
        %strong.label-txt
          = localize('img_slide.img_upload_image')
    %script{id: 'imageSlideId', type: 'text/html'}
      %form.image-upload-form
        = f.file_field :image, id: 'imageSlideUpload', class: 'image required upload', data: { uploadFailMessage: localize('form.upload_fail_message')}
    %script{id: 'changeImageSlideId', type: 'text/html'}
      .uploaded-image.image-upload
        %img{src: '{{image}}', id: 'upload_slide_image'}
          %span.glyphicon.glyphicon-remove.updateImageSlide
          .loader.hidden-area
    %script{id: 'deleteImageSlide', type: 'text/html'}
      .custom-upload.image-upload.data-content
        .upload-course-image
      %strong.label-txt
        = localize('img_slide.img_upload_image')
    %script{id: 'text_container_id', type: 'text/html'}
    .update-text-container
      .update-heading
        %h4= localize('text_slide.add_slide_title')
        .edit-heading.hidden-area
          = f.text_field :title, placeholder: localize('text_slide.add_slide_name_placeholder'), maxlength: '15', class: 'form-control ', placeholder: localize('text_slide.add_slide_name_placeholder')
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveImageSlideTitle', data: {emptyTitle: localize('form.empty_title_message') }
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
      .text-area-container#description-block
        .is-slide-desc.editor-desc= localize('text_slide.add_text_content')
        .edit-slide-content.hidden-area{data: {description_content: localize('text_slide.add_text_content')}}
          = f.text_area :description, placeholder: localize('text_slide.add_text_content_placeholder'), class: 'form-control description', rows: 10, cols: 10
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveImageSlideDesc', data: {emptyTitle: localize('form.empty_desc_title_message'), emptyDesc: localize('form.empty_description_message')}
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
    .delete-section
      = link_to localize('text_slide.delete_slide'), 'javascript:void(0)', class: 'pull-right deleteSlideItem', data: { message: localize('form.delete_message'), descMessage: localize('text_slide.add_text_content_placeholder'), titleMessage:localize('text_slide.add_slide_name_placeholder'), deleteMessage: localize('form.invalid_slide_delete_message')}
  .back-to-syllabus-btn
    = link_to localize('text_slide.done'), syllabus_version_path(@version), class: 'btn btn-primary'
