.interactive-slide-wrapper.text-type
  .custom-page-header
    %h1= I18n.t('course_creation.interactive_slides_informations.text_slide.text_heading', course_name: course_name)
    %h4= I18n.t('course_creation.interactive_slides_informations.text_slide.text_section_heading', section_name: section_name)
  .quiz-wrapper
    .col-md-12
      .edit-quiz-wrapper
        = render 'edit_interactive_slide'
        .edit-quiz-name.hidden-area
          .form-group
            = text_field_tag localize('text_slide.text_slidelabel'), '', class: 'form-control'
          = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save'
          = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
  .loader
  .course-template-inner.img-txt-interactive-slide
    .tabs
      .blocker.hidden-area
      %ul.tab-container
        -if @text_image_slides.present?
          -@text_image_slides.each do |slide|
            %li
              =link_to tab_title_name(slide), 'javascript:void(0)', class: 'data-content', data: { id: slide.id, image_url: image_path(slide), title: title_name(slide), description: slide_description(slide)}
        - (MAX_TEXT_IMAGE_SLIDE - @text_image_slides.count).times do
          %li
            = link_to localize('text_slide.add_item'), 'javascript:void(0)', class: 'data-content', data: { id: '', image_url: '', title: localize('text_slide.add_slide_name_placeholder'), description: localize('text_slide.add_text_content_placeholder')}
    .span5.add-section-container
    .pull-left.tab-view-image-upload#upload-chage-image
    .pull-right.update-text-container#title-block
    .pull-right.update-text-container#description-block
    %script{id: 'upload_image_id', type: 'text/html'}
      .tab-view-image
        .custom-upload.tab-view-image
          = f.file_field :image, id: 'image', class: 'image required upload'
          = link_to 'Upload Image', 'javascript:void(0)',class: 'imageUpload', data: { uploadMessage: localize('form.upload_fail_message')}
    %script{id: 'change_image_id', type: 'text/html'}
      .span5.add-section-container
        .custom-upload
          .img-wrap
            %img{src: '{{image}}', id: 'uploadSlideImage'}
            %span.glyphicon.glyphicon-remove#deleteImage
    %script{id: 'update_heading_id', type: 'text/html'}
    %script{id: 'update_description_id', type: 'text/html'}
    .update-text-container.tab-based-content
      .update-heading
        %h4= localize('text_slide.add_slide_title')
        .edit-heading.hidden-area
          = f.text_field :title, placeholder: localize('text_slide.add_slide_name_placeholder'), maxlength: '15', class: 'form-control required'
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveTitleImageBased',  data: {emptyTitle: localize('form.empty_title_message')}
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
      .text-area-container#text_image_description
        .is-slide-desc.editor-desc= localize('text_slide.add_text_content')
        .edit-slide-content.hidden-area{data: {description_content: localize('text_slide.add_text_content')}}
          = f.text_area :description, placeholder: localize('text_slide.add_text_content_placeholder'), class: 'form-control description', rows: 10, cols: 10
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'savedDescriptionImageBased', data: {emptyTitle: localize('form.empty_desc_title_message'), emptyDesc: localize('form.empty_description_message')}
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
    .delete-section
      = link_to localize('text_slide.delete_slide'), 'javascript:void(0)', class: 'pull-right deleteItem', data: { message: localize('form.delete_message'), descMessage: localize('text_slide.add_text_content_placeholder'), titleMessage:localize('text_slide.add_slide_name_placeholder')}
  .back-to-syllabus-btn
    = link_to localize('text_slide.done'), syllabus_version_path(@version), class: 'btn btn-primary'
