.add-chapter-wrap
  .chapter-name-wrap
    .chapter-inside-wrap
      - assessment_content = cs.is_assessment == true
      - if assessment_content
        .add-assessment-content
          = cs_label(cs)
          = cs.name
      - else
        = cs_label(cs)
        = cs.name
      -unless @version.published
        .action-wrap
          .cs-button= edit_section_link(cs)
          .cs-button= link_to '', [version, cs],  method: :delete, remote: true, class: 'delete-btn', data: {confirm: t(:delete_message)} if @version.editable
    -unless (cs.content? || @version.published || assessment_content || !@version.editable)
      .cs-button.add-content-btn
        = link_to localize('add_content'), 'javascript:void(0)', class: 'add-content btn btn-default btn-xs', data: {cs_id: cs.id}
  %div{id: "cs-content-tab-#{cs.id}", class: 'cs-content-tab'}
    = link_to localize('add_video'), new_version_course_section_video_path(version, cs.id), class: 'btn btn-primary', remote: true
    = link_to localize('add_pdf'), new_version_course_section_document_path(version, cs.id), class: 'btn btn-primary', remote: true
    = link_to localize('add_custom_content'), new_version_course_section_custom_content_path(version, cs.id), class: 'btn btn-primary'
    = link_to localize('add_presentation'), new_version_course_section_presentation_path(version, cs), class: 'btn btn-primary'
    = link_to localize('add_assessment'), new_version_course_section_assessment_path(version, cs.id), class: 'btn btn-primary'
    = link_to localize('add_interactive_slide'),  new_version_course_section_interactive_slide_path(version, cs.id), class: 'btn btn-primary'
