.edit-course-section
  = form_for [version, course_section], html: {class:'well validation'}, remote: true do |f|
    %span.chapter-name.mandatory= course_section_name(chapter, course_section)
    .form-group
      = f.text_field :name, class: 'form-control', maxlength: '50'
      .notice.error
    = f.hidden_field :parent_id, value: chapter.id if chapter
    .clearfix
    .edit-btn-group
      = f.submit localize('submit'), class: 'cs-edit-submit btn btn-primary'
      = link_to localize('cancel'), 'javascript:void(0)', class: 'cancel-edit'
