%ul#chapter-list.sortable.parent-chapter
  - chapters.each do |chapter|
    %li.chapter{data: {chapter_id: chapter.id}}
      = div_for(chapter) do
        = render partial: 'course_creation/course_sections/course_section', locals: {cs: chapter, version: version}
      %ul.content-listing.sortable
        - chapter.direct_contents.rank(:chapter_order).each do |content|
          %li.section.course-content{data: {content_id: content.id, content: true}}
            = div_for(content, class: section_class(content)) do
              = render partial: 'course_creation/course_sections/course_section', locals: { cs: content, version: version }
      %ul.section-list.sortable
        - chapter.sections.rank(:chapter_order).each do |section|
          %li.section{data: {movable: "#{section.content?}", content: section.content?, section_id: section.id, msg: localize(:section_reposition_msg)}}
            = div_for(section, class: section_class(section)) do
              = render partial: 'course_creation/course_sections/course_section', locals: {cs: section, version: version}
            %ul.content-listing.sortable
              -section.contents.rank(:chapter_order).each do |content|
                %li.section.course-content{data: {content_id: content.id, content: true}}
                  = div_for(content, class: section_class(content)) do
                    .add-chapter-wrap
                      .chapter-name-wrap
                        .section-name
                          = content.name
                          -unless @version.published
                            .action-wrap
                              .cs-button= edit_section_link(content)
                              .cs-button= link_to '', [version, content],  method: :delete, data: {confirm: t(:delete_message)}, remote: true, class: 'delete-btn'
              %li.new-content-section.removed
                %div{ id: "new-section-chapter-#{section.id}" }
      %div{id: "new-section-chapter-#{chapter.id}"}
      %div.section-btn-wrap
        -unless @version.published || !@version.editable
          .cs-button.add-section
            = link_to content_tag(:span, localize('add_section')), new_version_course_section_path(version, cs: chapter.id), remote: true, class: 'add-new-section-btn btn btn-default'
          .cs-button.add-assessment
            = link_to content_tag(:span, localize('add_section_assessment')), new_version_course_section_section_assessment_path(version, chapter, section: true), class: 'btn btn-default'
  -unless @version.published || !@version.editable
    %li#new-section-chapter-new.course_section.add-new-chapter-wrap
      = link_to content_tag(:span, localize('add_chapter')), new_version_course_section_path(version, cs: 'new'), remote: true, class: 'add-new-chapter-btn'
  - if chapters.any? && @version.editable
    #course-eval-tab.course_section.evaluation-btn-wrap
      = link_to( course_evaluation_link, class: "add-evaluation-btn #{remove_course_evaluation_icon}" ) do
        = @version.evaluation_questions.any? ? content_tag(:span, localize('course_eval')) : content_tag(:span, localize('add_eval'))
%span.cancel-text.hidden-area.add-content#original= localize(:cancel)
%span.add-text.hidden-area.add-content#original= localize(:add_content)
.loader
