%section
  .custom-page-header
    %h1
      = localize(:edit_assessment)
  .clearfix.edit-assessment
    = simple_form_for(@assessment, url: {action: 'update'}) do |f|
      - if @assessment.errors.any?
        #error_explanation.error
          %ul
            - @assessment.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label('', localize(:name), class: 'mandatory')
        = f.text_field :name, class: 'form-control'
      .form-group.full-form-group.description-form-group
        = f.label('', localize(:description))
        = f.text_area :description, rows: 10, cols: 20, class: 'form-control', placeholder: localize(:description)
      .form-group
        = f.label('', localize(:edit_assessment_type))
        = f.select :assessment_type, options_for_select(CourseCreation::Assessment::TYPES.values, @assessment.assessment_type), {prompt: localize(:assessment_prompt)}, {class: 'form-control', disabled: editable_element}
      #testAssessmentRadio.form-group
        .control-group
          %label.span4.control-label{for: 'inputTitle'}
          = localize(:any_passing_criteria)
        .radioGroup
          = f.radio_button :passing_criteria, CourseCreation::Assessment::PASSING_CRITERIA_YES, checked: @assessment.passing_criteria, id: 'passingCriteriaYes', disabled: editable_element
          %label= localize(:test_yes)
          = f.radio_button :passing_criteria, CourseCreation::Assessment::PASSING_CRITERIA_NO, checked: !@assessment.passing_criteria, id: 'passingCriteriaNo', disabled: editable_element
          %label= localize(:test_no)
        #passingCriteria
          = f.input :passing_percentage, {disabled: editable_element, class: ' passingPercentage', placeholder: localize(:test_number),  value: @assessment.passing_percentage, input_html: {min: '0'}}
          = f.input :no_of_displayed_questions, class: 'noOfQuestions', placeholder: '', value: '0', disabled: editable_element
      #testQuizCheck
        = f.input :upfront, {id: 'assessment_show_answers_upfront', type: 'checkbox', label: localize(:show_answers), checked: @assessment.upfront,  disabled: editable_element}
        = f.input :additional_text, {id: 'assessment_additional_text', type: 'checkbox', label: localize(:additional_text), disabled: editable_element, checked: @assessment.additional_text}
      .control-group.assessment-checkbox
        = f.input :details_page, {id: 'assessment_details_page', type: 'checkbox', label: localize(:details_page), checked: @assessment.details_page,  disabled: editable_element}
        = f.input :randomize, {id: 'assessment_randomize', type: 'checkbox', label: localize(:random), checked: @assessment.randomize,  disabled: editable_element}
      .actions
        = f.submit localize(:submit), class: 'btn btn-primary', id: 'edit_assessment'
        = link_to localize(:cancel), syllabus_version_path(@version)

