.container
  .col-md-6
    %table.table.table-striped
      %thead
        %tr
          %th= localize(:name)
          %th= localize(:assessment_type)
          %th
            = link_to questions_path, class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-plus-sign
              = localize(:new_question)
          %th 
            = link_to edit_version_course_section_assessment_path, class: 'btn btn-info' do
              %span.glyphicon.glyphicon-pencil      
      %tbody
        %tr
          %td= @assessment.name
          %td= @assessment.assessment_type
