%section.presentation-main-wrapper
  .custom-page-header.presentation-header
    .container
      .row
        .loader
        .col-md-5
          %h1= "#{localize('chapter_name')} : #{chapter_name}"
          %h4= "#{localize('section_name')} : #{@course_section.name}" if @chapter_name
        .col-md-5
          .prsentation-name.pull-right
            .presentation-label= @presentation.title
            = link_to '', 'javascript:void(0)', class: 'edit-presentation'
            .presentation-edit-controller
              .form-group
                = text_field_tag :title, @presentation.title, {id: 'ppt-edit-name', class: 'form-control'}
              = link_to localize('form.save'), 'javascript:void(0)', id: 'prt_save', class: 'save pull-left'
              = link_to localize('form.cancel'), 'javascript:void(0)', class: 'cancel'
            #error.error
              = localize(:title_err)
        .col-md-2
          .prsentation-name-update.pull-right
            = link_to localize('form.save_and_finish'), syllabus_version_path(@version), class: 'btn btn-lg btn-primary'
  .presentation-wrapper
    .slide-container
      .slide-content-wrapper
        = render('slide_list')
        .outer-wrapper
          = form_for @slide, url: version_course_section_presentation_slide_path, html: { method: :put } do |f|
            = f.hidden_field :id, id:'slide_id'
            = f.hidden_field :presentation_id, id: 'presentation_id'
            #ids{data:{version: @version.id, cs_id: @course_section.id, presentation_id: @presentation.id, id: @slide.id}}
            .show-slide-content
              .slide-heading
                %h4.pull-left
                = link_to localize('form.delete_slide_label'), version_course_section_presentation_slide_path(@version, @course_section, @presentation, @slide), data: { method: :delete, confirm: localize('form.delete_msg')}, class: 'pull-right'
              %span.slide-bold= localize('form.slide_setting_label')
              = render 'slide_settings', f:f
              .error-wrap
                #invalid_img.hidden-area
                  %span.error= localize(:invalid_image)
                #invalid_video.hidden-area
                  %span.error= localize(:invalid_video)
                #invalid_content.hidden-area
                  %span.error= localize(:empty_content)
                #wrong.hidden-area
                  %span.error= localize(:error)
                #error_apply_settings.hidden-area
                  .alert.alert-danger= localize(:error_apply_seetings)
              .success
                #apply_settings.hidden-area
                  .alert.alert-success= localize(:success_apply_settings)
              .slide-two-column.save-btn
                %span.slide-bold= localize('form.slide_content_label')
                .column-wrapper{style: "#{set_style}"}
                  .slide-title-panel
                    .column-heading
                      .slide-title.editor-desc{class: "#{slide_title_class}"}= slide_title || localize('form.title')
                      #titleEditorWrapper.hidden-area
                        = f.text_area :title, placeholder: localize('form.title_place'), class: 'title-tinymce'
                        = link_to localize('form.cancel'), 'javascript:void(0);', class: 'pull-right cancel'
                        = link_to localize('form.save'), 'javascript:void(0);', id: 'saveTitle', class: 'pull left save', data: { validationMessage: localize('form.content_validation_message')}
                      .title.hidden-area
                        .title-content
                        = link_to('', 'javascript:void(0)', class: 'edit-slide-title hidden-area')
                        = link_to('', 'javascript:void(0)', class: 'remove-title hidden-area title-controller')
                      .title-error.error.hidden-area
                      = link_to(localize('form.save'), 'javascript:void(0)', class: 'save-title title-controller')
                      = link_to(localize('form.cancel'), 'javascript:void(0)', class: 'delete-title title-controller')
                    %ul.column-content
                      = render "column_#{@slide.number_of_columns}", f:f
              .slide-button
                = link_to(localize('form.add_new_slide_label'), new_version_course_section_presentation_slide_path(@version, @course_section, @presentation), class: 'slide-btn')
                = link_to(localize('form.duplicate_slide_label'), slide_clone_version_course_section_presentation_slide_path(@version, @course_section,@presentation, @slide), method: 'post', class: 'slide-btn')
                = link_to localize(:cancel), syllabus_version_path(@version), class:'pull-right'
