%section.presentation-wrapper
  .custom-page-header
    .container
      %h1= "#{localize('chapter_name')} : #{chapter_name}"
      %h4= "#{localize('section_name')} : #{@course_section.name}" if @chapter_name
  .container
    .slide-content-wrap.new-slide-wrap
      = form_for @slide, url: version_course_section_presentation_slides_path, html: { method: :post } do |f|
        .slide-content
          %h3.subheading= localize('form.select_layout')
          %ul.layout-type
            %li.one-column-layout
              = f.text_field :number_of_columns, value: 1, type: 'submit'
            %li.two-column-layout
              = f.text_field :number_of_columns, value: 2, type: 'submit'
          .clearfix
    .form-group
      = link_to localize('form.back'), edit_version_course_section_presentation_slide_path(@version, @course_section, @presentation, @presentation.slides.first)
