%section.add-note
  .custom-page-header
    %h1= @type
  = form_for [@version, @resource] do |f|
    .field.text-resource-form.clearfix
      .form-group
        - if @type == 'Note'
          = f.label('', localize(:add_note_title), class: 'mandatory')
          = f.text_field :title, placeholder: localize(:title_place), class: 'form-control required', data: { message: @resource.errors[:title].first }, maxlength: '50'
        - if @resource.errors.any?
          #error_explanation.error
            %span
              - @resource.errors.full_messages.each do |message|
                = message
      .form-group.full-form-group
        = f.label('', localize(:add_note_content), class: 'mandatory')
        = f.text_area :content, class: 'tinymce'
        %span.description-error.error
        = f.hidden_field :version_id, value: @version.id
        = f.hidden_field :type
      - if @type == 'Quote'
        .form-group
          = f.label('', localize(:add_quote_author), class: 'mandatory')
          = f.text_field :title, placeholder: localize(:author_place), class: 'form-control required', maxlength: '50'
      .form-group
        .actions
          = f.submit(localize(:save), class: 'btn btn-primary submit-resource', data: { message: localize('empty_field_message'), type: @type })
          = link_to localize(:cancel_btn), text_resources_path
