%section.add-note
  .custom-page-header
    %h1= localize(:resourses_title)
    %h4
      %span= localize(:course_name)
      %span /
      %span= localize(:Course_resources)
      %span /
      %span= resource_title
  #resource-info{ data: { version_id: @version.id, type: @type } }
  %ul.resource-lisiting
    - chapters.each do |c|
      %li.chapter{data: {chapter_id: c.id, version_id: c.version.id}}
        = div_for(c, class: 'resource-chapter') do
          .add-chapter-wrap
            .chapter-name-wrap
              = c.name
              .cs-button.add-btn-syllabus
                = link_to localize("add_new_#{resource_type}"), send("new_version_course_section_#{resource_type}_path", c.version.id, c.id), class: 'resource-link btn btn-default btn-xs'
        %ul.resource-list.sortable.content-listing
          - c.resources_order(resource_type).each do |s|
            %li.resource{data: {resource_id: s.id}}
              = div_for(s, class: 'resource-container') do
                = s.title
                \:
                = link_to s.file.sanitized_file.original_filename, s.file.url
                .action-wrap
                  = link_to '', send("edit_version_course_section_#{resource_type}_path", c.version.id, c.id, s.id), class: 'resource-link edit-btn'
                  = link_to '', [c.version, c, s], method: :delete, class: 'resource-link delete-btn', data: {confirm: t('delete_message')}
