-if %w(Quote Note).include? params[:type]
  =render 'form'
-else
  .loader
  %section
    .custom-page-header
      %h1= @section.name
      %h4= heading_name(@resource.type)
    .error
      #invalidPdf.hidden-area
        .error= localize(:invalid_pdf)
      #invalidVideo.hidden-area
        .error= localize(:invalid_video)
      #error.hidden-area.alert.alert-danger= localize(:error)
      #error_msg.hidden-area.alert.alert-danger
    = form_for @resource, url: create_form_action(@resource.type), html: {id: 'resource_form', class: 'well video-load-wrapper', method: :post, data: {type: @resource.type }} do |f|
      - if @resource.errors.any?
        #error_explanation.error
          %span
            = pluralize(@resource.errors.count, 'error')
            = localize('error_message')
          %ul
            - @resource.errors.full_messages.each do |message|
              %li= message

      .control-group
        = f.file_field :file, name:file_field_name(@resource.type), id: 'resource_file', multiple: true
        = f.hidden_field :title
        = f.hidden_field :course_section_id, value: @section.id
        = f.hidden_field :version_id, value: @version.id
        = f.hidden_field :description
        = f.hidden_field :type
      .note
        = supported_formats_msg(@resource.type)
    .videos
    %script{id: 'resource_id', type: 'text/html'}
      .video-detail-wrapper{id:"resource_{{count}}", data:{index: "{{count}}"}}
        %form{id: 'file-upload'}
          .default-img-wrapper
            ="{{name}}"
          .form-group
            %label.mandatory
              = localize(:field_title)
            =text_field_tag :title,'', maxlength: '50', class: 'form-control'
            .error
              #emptyTitle.hidden-area= localize(:empty_title)
          .form-group
            =description_label
            =description_tag
          =link_to(localize(:delete_btn), 'javascript:void(0)', class: 'remove-video', data: { resource: "{{count}}"})
    .actions.hidden-area
      =link_to(localize(:save_btn), 'javascript:void(0)', class: 'add-video-details btn btn-primary')
      = link_to(localize(:back_btn), syllabus_version_path(@version))
