%script{:id => 'multiple_visuals', :type => "text/ng-template"}
  .single-answer-question-layout
    %h2
      Question {{ slideData.questionIndex }}
      %span
        of {{ noOfQuestions }}
    .assessment-wrap
      .question-block{'ng-bind-html': 'slideData.title | sanitize'}
      .answer-block
        %ul.assessment-visual-list
          %li{'ng-repeat': 'answer in slideData.answers'}
            .img-wrap
              %img{'ng-src' => '{{ answer.image }}'}
            .checkbox-list
              .checkbox-wrap
                %input{'type': 'checkbox', 'ct-custom-checkbox': '','value': '{{ answer.id }}', 'ng-click': 'selectMultipleAnswer(answer, $event)'}
                %span.custom-checkbox
    %a.submit-btn{'ng-click': 'submitAnswer(slideData)', 'ng-class': '{disabled: objectiveAnswersAttributes.length == 0 || processing}'} Submit Answer
