%script{:id => 'multiple_answers', :type => "text/ng-template"}
  .single-answer-question-layout
    %h2
      Question {{ slideData.questionIndex }}
      %span
        of {{ noOfQuestions }}
    .assessment-wrap
      .question-block{'ng-bind-html': 'slideData.title | sanitize'}
      .answer-block
        %ul
          %li.checkbox-list{'ng-repeat': 'answer in slideData.answers'}
            .checkbox-wrap
              %input{'type': 'checkbox', 'ct-custom-checkbox': '','value': '{{ answer.id }}', 'ng-click': 'selectMultipleAnswer(answer, $event)'}
              %span.custom-checkbox
            %label{'ng-bind': 'answer.option'}
            .clearfix
    %a.submit-btn{'ng-click': 'submitAnswer(slideData)', 'ng-class': '{disabled: objectiveAnswersAttributes.length == 0 || processing}'} Submit Answer
