%script{:id => "result_assessment", :type => "text/ng-template"}
  %h2 You got {{ resultAssessment.correct_questions }}/{{ noOfQuestions }} answers correct
  %h4 Your score: {{ userPercentage }} %
  .one-col-layout.result-layout
    .result-listing-block
      .border-wrapper{'ng-repeat': 'question in resultAssessment.user_question'}
        %i.icon{'ng-class': "{'cross-icon': question.answer_status == ANSWER_STATUS.WRONG, 'tick-icon': question.answer_status == ANSWER_STATUS.CORRECT}"}
        %p{'ng-bind-html': 'question.question_title | sanitize'}
        %ul
          %li
            %div{'ng-class': "{'red-text': question.answer_status == ANSWER_STATUS.WRONG, 'green-text': question.answer_status == ANSWER_STATUS.CORRECT}"}
              Your answer:
            %p.given-answer{'ng-repeat': 'given_answer in question.assessment_answer'}
              %span{'ng-if': 'given_answer.user_ans_text'}
                {{ getLetter(given_answer.user_ans_position) }}) {{ given_answer.user_ans_text }}
              %span{'ng-if': 'given_answer.user_ans_image'}
                %span {{ getLetter(given_answer.user_ans_position) }})
                %span.img-wrap
                  %img{'ng-src': '{{ given_answer.user_ans_image }}'}
          %li{'ng-if': 'question.answer_status == ANSWER_STATUS.WRONG'}
            .green-text
              Correct answer:
            %p.given-answer{'ng-repeat': 'correct_answer in question.correct_option'}
              %span{'ng-if': 'correct_answer.correct_ans_text'}
                {{ getLetter(correct_answer.correct_ans_position) }}) {{ correct_answer.correct_ans_text }}
              %span{'ng-if': 'correct_answer.correct_ans_image'}
                %span {{ getLetter(correct_answer.correct_ans_position) }})
                %span.img-wrap
                  %img{'ng-src': '{{ correct_answer.correct_ans_image }}'}
    %a.blue-btn.retake-btn{'ng-click': 'retakeAssessment()', 'ng-if': 'passingStatus == 0 || !passingStatus'} Retake
