%script{:id => 'single_answer', :type => "text/ng-template"}
  .single-answer-question-layout
    %h2
      Question {{ slideData.questionIndex }}
      %span
        of {{ noOfQuestions }}
    .assessment-wrap
      .question-block{'ng-bind-html': 'slideData.title | sanitize'}
      .answer-block
        %ul.radiobox-main-block
          %li.radiobox-wrap{'ng-repeat': 'answer in slideData.answers'}
            .radio-wrap
              %input{'type': 'radio', 'ct-custom-radio': '','value': '{{ answer.id }}', 'ng-click': 'selectSingleAnswer(answer)'}
              %span.custom-radiobox
            %label{'ng-bind': 'answer.option'}
            .clearfix
    %a.submit-btn{'ng-click': 'submitAnswer(slideData)', 'ng-class': '{disabled: objectiveAnswersAttributes.length == 0 || processing}'} Submit Answer
