%script{:id => 'InteractiveSlide', :type => "text/ng-template"}
  %div{'ng-controller':'InteractiveSlideContentCtrl', 'ng-init': 'initInteractiveContent()'}
    .two-col-layout.image-interactive-slide{'ng-if': "interactiveType == 'Image Based'"}
      %h2{'ng-bind': 'slideName'}
      .left-col
        %ul.image-list
          %li{'ng-repeat': 'imageSlide in slides', 'ng-class': "{'active': currentSlideIndex == $index}", 'ng-click': 'selectSlide($index, imageSlide)'}
            .img-wrap{'ng-class': "{'course-completed-icon': imageSlide.isSeen}"}
              %img{'ng-src' => '{{ imageSlide.image.url }}', alt: "{{ imageSlide.title }}"}
      .right-col.start-page{'ng-show': 'startPage'}
        %h5 Introduction
        .editor-desc{'ng-bind-html': 'slideDescription | sanitize'}
      .right-col{'ng-repeat': 'imageSlide in slides', 'ng-show': 'currentSlideIndex == $index && !startPage'}
        %h5{'ng-bind': 'imageSlide.title'}
        .img-slide-desc
          .editor-desc{'ng-bind-html': 'imageSlide.description | sanitize'}
      .clearfix

    .text-interactive-layout{'ng-if': "interactiveType == 'Text Based'"}
      %h2{'ng-bind': 'slideName'}
      .left-col
        %ul.title-list
          %li{'ng-repeat': 'textSlide in slides', 'ng-class': "{'course-completed-icon': textSlide.isSeen, 'active': currentSlideIndex == $index}", 'ng-click': 'selectSlide($index, textSlide)', 'ng-bind': 'textSlide.title'}
      .right-col.start-page{'ng-show': 'startPage'}
        %h5 Introduction
        .editor-desc{'ng-bind-html': 'slideDescription | sanitize'}
      .right-col{'ng-repeat': 'textSlide in slides', 'ng-show': 'currentSlideIndex == $index && !startPage'}
        %h5{'ng-bind': 'textSlide.title'}
        .slide-desc.editor-desc{'ng-bind-html': 'textSlide.description | sanitize'}
      .clearfix

    .text-image-interactive-layout{'ng-if': "interactiveType == 'Text and Image Based'"}
      %h2{'ng-bind': 'slideName'}
      %ul.slide-tab
        %li{'ng-repeat': 'textImageSlide in slides' }
          %a{'ng-bind': 'textImageSlide.title', 'ng-class': "{'course-completed-icon': textImageSlide.isSeen, 'active' : currentSlideIndex == $index}", 'ng-click': 'selectSlide($index, textImageSlide)'}
      .slide-content.start-page{'ng-show': 'startPage'}
        %h5 Introduction
        .no-slide-desc{'ng-bind-html': 'slideDescription | sanitize'}
      .slide-content{'ng-repeat': 'textImageSlide in slides', 'ng-show': 'currentSlideIndex == $index && !startpage'}
        .left-col
          .img-wrap
            %img{'ng-src' => '{{ textImageSlide.image.url }}',alt: "{{ textImageSlide.title }}"}
        .right-col
          %h5{'ng-bind': 'textImageSlide.title'}
          .slide-desc
            .editor-desc{'ng-bind-html': 'textImageSlide.description | sanitize'}
        .clearfix
