%script{:id => 'Presentation', :type => 'text/ng-template'}
  .presentation-wrapper{'ng-controller':'PresentationContentCtrl', 'ng-init': 'initPresentationContent()', 'ng-style': 'slide.settings | slideSetting'}
    %h2{'ng-bind-html':  'slide.title | sanitize'}
    %div{'ng-include' => '', 'src' => 'slide.number_of_columns | slideLayout'}

=render 'course_creation/course_taking/templates/presentation/oneColumnLayoutPresentation'
=render 'course_creation/course_taking/templates/presentation/twoColumnLayoutPresentation'
