!!!
%html{lang: 'en'}
  %head
    %title Course Taking Certificate
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %script{:src => "//use.typekit.net/wnv1ggh.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    = stylesheet_link_tag 'course_creation/course_taking/certificate', media: 'all'
    = csrf_meta_tags
  %body
    .cert-wrapper
      .inside
        %h2.cert-name CERTIFICATE
        %span.cert-of of
        %h2.cert-completion COMPLETION
        %p Is hereby presented to :
        %h1.cert-coach-name COACH NAME
        %p for successful completetion of the
        %h3.cert-course-title COURSE TITLE
        .cert-date
          Certified on
          %span dd/mm/yy
        %ul.logo-wrap
          %li
            = image_tag 'carl-peterson-sign.png', alt: "Carl Peterson", title: 'Carl Peterson'
            .name Carl Peterson
            .designation Chairman
          %li
            = image_tag 'usaf-logo.png', alt: "USA Football", title: 'USA Football'
          %li
            = image_tag 'scott-hallenback-sign.png', alt: "Scott Hallenback", title: 'Scott Hallenback'
            .name Scott Hallenback
            .designation Executive Director
