.inside.course-taking-content.slide-right-content{'ng-class':"{'active-custom-content': currentContentType == 'CustomContent'}"}
  .course-content-main-block{'ng-show': "courseState == 'InProgress'"}
    %h3{'ng-bind': 'currentChapterName'}
    %h4{'ng-bind': 'currentContentName'}
    .course-content-block
      .loader
      %div{"ng-include" => "", 'src' => "currentContentType"}
    .pagination-block
      %div{'ng-show': 'contents.length'}
        %a.blue-btn.prev-btn{'ng-click': "contentProgress(PAGINATE_OFFSET.PREVIOUS)", 'ng-class': '{disabled: currentContainerIndex == 0 && currentIndex == 0 && currentSlide == 0}', 'ct-animate-content': ''} Previous
        .pagination-wrap
          .paginate
            %a.pagination-prev{'data-value': 'prev', 'ct-pagination-slider': ''}
            .pagination
              %ul
                %li{'ng-repeat': 'content in contents'}
                  %a{'ng-bind': '$index + 1', 'ng-class': "{active: currentContentId == content.id, 'disabled': (content.status == CONTENT_STATUS.NOT_STARTED && !$preview())}", 'ng-click': 'selectContent($index)', 'ct-animate-content': ''}
            %a.pagination-next{'data-value': 'next', 'ct-pagination-slider': ''}
            .clearfix
        %a.blue-btn.next-btn.content-next-btn{'ng-click': "contentProgress(PAGINATE_OFFSET.NEXT)", 'ct-animate-content': ''} Next
        .clearfix
  .evaluation-main-block{'ng-show': "courseState == 'CourseEvalution'"}
    .course-evaluation-block.course-content-block
      %h2 Course Evaluation
      .evaluation-listing
        %ul
          %li
            %span.evaluation-states Evaluation States
            %span Strongly Disagree
            %span Disagree
            %span Somewhat Agree
            %span Agree
            %span Strongly Agree
            .clearfix
          %li.radiobox-main-block{'ng-repeat': 'evaluationQuestion in evaluationQuestions'}
            %label{'ng-bind': 'evaluationQuestion.content'}
            %span.radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'name': 'evaluation-state', 'ct-custom-radio': '','value': 'Strongly Disagree', 'ng-click': 'isAllAnswerd(evaluationQuestion.id , ANSWER_VALUE.STRONGLY_DISAGREE)'}
                %span.custom-radiobox{'ng-class': "{'active': evaluationQuestion.answer_id == ANSWER_VALUE.STRONGLY_DISAGREE, 'disabled': evalutionCompleted}"}
            %span.radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'name': 'evaluation-state', 'ct-custom-radio': '','value': 'Disagree', 'ng-click': 'isAllAnswerd(evaluationQuestion.id, ANSWER_VALUE.DISAGREE)'}
                %span.custom-radiobox{'ng-class': "{'active': evaluationQuestion.answer_id == ANSWER_VALUE.DISAGREE, 'disabled': evalutionCompleted}"}
            %span.radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'name': 'evaluation-state', 'ct-custom-radio': '','value': 'Somewhere Agree', 'ng-click': 'isAllAnswerd(evaluationQuestion.id, ANSWER_VALUE.SOMEWHERE_AGREE)'}
                %span.custom-radiobox{'ng-class': "{'active': evaluationQuestion.answer_id == ANSWER_VALUE.SOMEWHERE_AGREE, 'disabled': evalutionCompleted}"}
            %span.radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'name': 'evaluation-state', 'ct-custom-radio': '','value': 'Agree', 'ng-click': 'isAllAnswerd(evaluationQuestion.id, ANSWER_VALUE.AGREE)'}
                %span.custom-radiobox{'ng-class': "{'active': evaluationQuestion.answer_id == ANSWER_VALUE.AGREE, 'disabled': evalutionCompleted}"}
            %span.radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'name': 'evaluation-state', 'ct-custom-radio': '','value': 'Strongly Agree', 'ng-click': 'isAllAnswerd(evaluationQuestion.id, ANSWER_VALUE.STRONGLY_AGREE)'}
                %span.custom-radiobox{'ng-class': "{'active': evaluationQuestion.answer_id == ANSWER_VALUE.STRONGLY_AGREE, 'disabled': evalutionCompleted}"}
            .clearfix
      %a.blue-btn.evalutionSubmit.disabled{'ng-click': 'evaluationSubmit()'} Submit Answer
    .pagination-block
      %a.blue-btn.prev-btn{'ng-click': "courseEvalution(PAGINATE_OFFSET.PREVIOUS)"} Previous
      .pagination-wrap
        .pagination
      %a.blue-btn.next-btn.evalution-next-btn{'ng-click': "courseEvalution(PAGINATE_OFFSET.NEXT)",'ng-class': "{'disabled': !evalutionCompleted}"} Next
      .clearfix
  .congratulation-block.course-content-block{'ng-show': "courseState == 'Congratulation'"}
    .congratulation-info
      %h2 congratulations
      %p
        You have completed {{ courseName }}
      %a.blue-btn.back-to-dashboard{'ng-click': "dashboardUrl('#{@dashboard_url}')"} Back to Dashboard
    .pagination-block
      %a.blue-btn.prev-btn{'ng-click': "congratulationProgress(PAGINATE_OFFSET.PREVIOUS)"} Previous
      .pagination-wrap
        .pagination
      %a.blue-btn.next-btn.disabled Next
      .clearfix

= render 'video'
= render 'presentation'
= render 'assessment'
= render 'interactiveSlide'
= render 'document'
= render 'customContent'
