#rightCloseWrapper.right-close-wrapper
  %a.chapter{:href => "javascript:void(0)", 'ct-side-bar': ''} Resources
.right-nav-content.hidden-area
  .nav-heading
    %span#hideRightNav.hide-block{'ct-side-bar': ''}
      %i.hide-icon
      %span Hide
    %h5 Resources
  .resources-content
    %ul#tabMenu.resources-link
      %li{'ng-class': "{active: selectedResource == 'documents'}", 'ng-click': "selectedResource = 'documents'"}
        %a Documents
      %li{'ng-class': "{active: selectedResource == 'notes'}", 'ng-click': "selectedResource = 'notes'"}
        %a Notes
      %li{'ng-class': "{active: selectedResource == 'videos'}", 'ng-click': "selectedResource = 'videos'"}
        %a Videos
      %li{'ng-class': "{active: selectedResource == 'quotes'}", 'ng-click': "selectedResource = 'quotes'"}
        %a Quotes
    .clear
    .resources-tab-content
      #documents.tab-content{'ng-show' => "selectedResource == 'documents'"}
        %h2 Documents
        %span.error-message{'ng-show' => '!documents.length'}
          No resource available
        %ul.resources-document-content
          %span{'ng-show' => 'documents.length', 'ng-repeat' => 'document in documents'}
            %li{'ng-bind': 'document.name'}
            %li{'ng-show' => 'document.resources.length', 'ng-repeat' => 'resource in document.resources'}
              %a{ href: "{{resource.file}}", target: :_blank, 'ng-bind': 'resource.title','ct-download': ''}
            %li.no-resources{'ng-show' => '!document.resources.length'}
              %span No Resource for this Chapter

      #notes.tab-content.resources-note-content{'ng-show' => "selectedResource == 'notes'"}
        %h2 Notes
        %span.error-message{'ng-show' => '!notes.length'}
          No resource available
        %span.note-content{'ng-show' => 'notes.length', 'ng-repeat' => 'note in notes'}
          %h4{'ng-bind': 'note.title'}
          %p{'ng-bind': 'note.content | htmlToPlaintext'}

      #videos.videos-content.tab-content{'ng-show' => "selectedResource == 'videos'"}
        %h2 Videos
        %span.error-message{'ng-show' => '!videos.length'}
          No resource available
        %ul.resources-video-content
          %li{'ng-show' => 'videos.length', 'ng-bind': 'chapterName'}
          %span{'ng-show' => 'videos.length', 'ng-repeat' => 'video in videos'}
            %li.chapter-name{'ng-bind': 'video.name'}
            %li{'ng-show' => 'video.resources.length', 'ng-repeat' => 'resource in video.resources'}
              .video-info
                .thumb-wrap{'ct-accordian': ''}
                  %img.video-thumb{'src' => '{{resource.thumb}}'}
                  %i.play-icon
                %p.video-name{'ct-accordian': '', 'ng-bind': 'resource.title'}
              .video-player
                %p.video-name{'ng-bind': 'resource.title'}
                %jwplayer{'setup' => 'resource.options'}
            %li.no-resources{'ng-show' => '!video.resources.length'}
              %span.error-message No Resource for this Chapter

      #quotes.tab-content{'ng-show' => "selectedResource == 'quotes'"}
        %h2 Quotes
        %span.error-message{'ng-show' => '!quotes.length'}
          No resource available
        %ul.resources-quote-content
          %li{'ng-show' => 'quotes.length','ng-repeat' => 'quote in quotes'}
            %p{'ng-bind': 'quote.content | htmlToPlaintext'}
            %span{'ng-bind': 'quote.title'}
