.custom-page-header
  .container
    %h1 
      = localize('list_categories')   
%section.course-listing
  .container
    .middle-heading.clearfix
      = link_to localize('add'), new_category_path, {class: 'pull-right btn btn-primary'}
    %span            
    .result
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th= localize('sr_no')
            %th= localize('form.name')  
            %th= localize('action')  
        %tbody
          - @categories.each_with_index do |category, index|
            %tr
              %td= index + 1
              %td= category.name
              %td= link_to localize('edit'), edit_category_path(category)
       
