= form_for(@course) do |f|
  - if @course.errors.any?
    #error_explanation.error
      %ul
        - @course.errors.each do |key, message|
          %li= message
  .course-field
    %h3.subheading= localize('complete_basic_course')
    %p.note.mandatory-note= localize('all_fields_mandatory')
    .form-group
      = f.label(:course_title, localize('form.title'), class: 'mandatory')
      = f.text_field :title, placeholder: localize('form.title_place'), maxlength: '50', class: 'form-control required'
    = f.fields_for :versions, @version do |v|
      .form-group.description-form-group
        = v.label(:description_label, localize('form.description'), class: 'mandatory')
        = v.text_area :description, placeholder: localize('form.description_place'), class: 'form-control description required', rows: 40, cols: 50
        %span.error
      .row.category-wrap
        .col-md-5
          .form-group.category-dropdown
            = v.label(localize('form.category'), class: 'mandatory')
            = v.collection_select(:category_id, @categories, :id, :name, {include_blank: localize('form.select_category')}, class: 'form-control required category_dropdown')
        .col-md-6
          .form-group.category-text
            = text_field_tag 'category_name', nil, placeholder: localize('form.course_category_place'), maxlength: '55', class: 'form-control category-text'
            = link_to 'Add', 'javascript:void(0)', class: 'save btn btn-primary', id: 'add_category'
            .clearfix
            %span.category-message
      .form-group.course-image-wrap
        #imagePreview.image-preview
          - image = @version.image if @version.present? && @version.image.present?
          %img{src: image, id: 'upload_image'}
        = v.label(:image_label, localize('form.image'), class: 'mandatory')
        = v.file_field :image, id: 'uploadFile', class: 'image required upload', data: { type: IMAGE_FILE_TYPE, message: localize('form.invalid_file_format') }
        %span.note= localize('form.image_note')
      .form-group.video-image-wrap
        = v.label(:video_label, localize('form.video'), class: 'mandatory')
        = v.file_field :video, id: 'uploadVideo', class: 'required upload', data: { type: VIDEO_FILE_TYPE, message: localize('form.invalid_file_format') }
        %span.video-name
          =  File.basename(@version.video.url) if @version.present? && @version.video.url.present?
        %span.note= localize('form.video_note')
      .form-group.recommended-for
        = v.label(:role_label, localize('form.role'))
        .checkbox
          - user_role_id = @user_role_ids.blank? ? '' : @user_role_ids.map(&:to_i)
          - selected_user_roles = user_role.blank? ? user_role_id : user_role
          - @roles.each do |role|
            - checked = false
            - checked = true if selected_user_roles.present? && (selected_user_roles.include? role.id)
            = check_box_tag 'role_id[]', role.id, checked
            = label(:role_name, role.name)
      .form-group
        = v.label(:expiry_label, localize('form.expiry'), class: 'mandatory')
        = v.select(:expiry, expiry_select_options, {include_blank: localize('form.expiry_place')}, class: 'form-control required')
      .form-group.radio-btn-group
        %span.field-label= v.label(:price_label, localize('form.price' ))
        = v.radio_button :price, 1, checked: true, class: 'radio-button'
        = v.label :price_paid, localize('form.price_paid'), class: 'radio-label'
        = v.radio_button :price, 0, class: 'radio-button'
        = v.label :price_free, localize('form.price_free'), class: 'radio-label'
      .form-group.radio-btn-group
        %span.field-label
          = label_tag :pre_requisite_field, localize('form.pre_requisite')
        = radio_button_tag :prerequisite, 0, class: 'radio-button'
        = label_tag :none, localize('form.pre_requisite_none'), class: 'radio-label'
        = radio_button_tag :prerequisite, 1, class: 'radio-button'
        = label_tag :all, localize('form.pre_requisite_all'), class: 'radio-label'
        = radio_button_tag :prerequisite, 2, class: 'radio-button'
        = label_tag :Only_Chapters, localize('form.pre_requisite_only'), class: 'radio-label'
  .actions
    = f.submit(localize('form.submit'),id: 'submit', class: 'btn btn-primary submit_form', data: { message: localize('form.fields_required') } )
    = link_to localize('cancel'), versions_path
