%section.course-listing
  .sub-title-wrap
    %h2= localize('course_listing')
  .row.filter-wrap
    .col-md-10
      .filter
        .form-group
          .search-field
            %input#filter.form-control{placeholder: localize('search_place'), type: 'text'}
              %span.glyphicon.glyphicon-search{'aria-hidden': 'true'}
              %span.glyphicon-class
              %span.error-msg
    .col-md-2
      .add-course
        = link_to localize('add_course'), new_course_path, class: 'btn btn-primary'
  %span#notice.error= notice
  .result
    %table.table.table-striped.table-bordered.table-condensed.table-hover
      %thead
        %tr
          %th= localize('form.title')
          %th= localize('action')
      %tbody
        - @courses.each do |course|
          %tr
            %td= course.title
            %td.action
              = link_to localize('show'), course_path(course), class: 'btn btn-sm btn-default'
              = link_to localize('edit'), edit_course_path(course), class: 'btn btn-sm btn-default'
              = link_to localize('delete'), course_path(course), data: {confirm: localize('delete_message')}, method: :delete, class: 'btn btn-sm btn-danger'
