= form_for(@certificate) do |f|
  .field.form-horizontal.new-certificate.clearfix
    - if @certificate.errors.any?
      #error_explanation.error.error_flash
        %ul
          - @certificate.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label('', localize('form.title'), class: 'mandatory col-sm-2 control-label')
      .col-md-8
        = f.text_field :title, placeholder: localize('form.title_place'), maxlength: '50', class: 'form-control', data: {message: localize('form.title_error_message')}
    .form-group
      = f.label('', localize('form.description'), class: 'col-sm-2 control-label')
      .col-md-8
        = f.text_area :description, placeholder: localize('form.description_place'), class: 'form-control'
    .form-group
      = f.label('', localize('form.courses'), class: 'mandatory col-sm-2 control-label')
      .col-md-8
        = select_tag('certificate[course_ids][]', options_for_select(@courses.collect {|course| [course.title, course.id]}, @certificate.courses.collect { |certificate_course| certificate_course.id}), {multiple: true, id: 'courses', class: "#{!@certificate.editable && 'disable_checkbox'}"})
    .form-group
      .col-md-8.col-md-offset-2
        .actions
          = f.submit localize("form.#{action_name}"), class: 'btn btn-primary submit-certificate',data: { empty_title: localize('empty_title_message'), empty_file: localize('file_field_error_message'), empty_checkbox: localize('checkbox_validation'), invalid_file_format: localize('invalid_file_format'), :disable_with => localize('form.wait_message')}
          = link_to localize('cancel'), certificates_path
