%script{:id => 'oneColumnLayoutPresentation', :type => 'text/ng-template'}
  %div.single-column-presentation{'ng-include' => '', 'ng-repeat': 'slide in slide.contents', 'src' => 'slide | slideContent'}

=render 'course_creation/course_taking/templates/presentation/slideText'
=render 'course_creation/course_taking/templates/presentation/slideVideo'
=render 'course_creation/course_taking/templates/presentation/slideImage'
