= form_for [version, question], html: {class: 'edit-eval-question'} do |f|
  - if question.errors.any?
    #error_explanation.error
      %span
        = pluralize(question.errors.count, 'error')
        = localize('error_message')
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .eval-questions-field
    .form-group.clearfix
      %label
        = localize("#{action_name}_question_text")
      = f.text_field :content, class: 'form-control col-md-6'
    .actions
      = f.submit(class: 'btn btn-primary submit-evaluation', data: {message: localize('blank_field_error')})
      = link_to localize(:back), syllabus_version_path(@version)
    .clearfix
