%section.presentation-wrapper
  .custom-page-header
    .container
      %h1= "#{localize('chapter_name')} : #{chapter_name}"
      %h4= "#{localize('section_name')} : #{@course_section.name}" if @chapter_name
  .container
    = render 'form'
