%section
  .custom-page-header
    %h1= localize('edit_question')
  = nested_form_for(@question, url: assessment_question_path(params[:assessment_id],@question.id)) do |f|
    .loader
    - if @question.errors.any?
      #error_explanation
        %h2
          = pluralize(@question.errors.count, 'error')
          prohibited this course from being saved:
        %ul
          - @question.errors.full_messages.each do |message|
            %li= message
    .form-group.full-form-group
      = f.hidden_field(:id, value: params[:id])
      = f.hidden_field(:assessment_id, value: params[:assessment_id])
      = f.label('', localize('form.question'), class: 'mandatory')
      = f.text_area :title, rows: 10,cols: 20, placeholder: localize('form.question_title'), class: 'tinymce'
      %span.title-error.error
      %span.error-message= localize('form.error_message')
    .form-group.question-type
      = f.label('', localize('form.question_type'), class: 'mandatory')
      = f.collection_select :question_category_id, category_list(@questioncategories), :first, :last, {prompt: localize('form.select_category')}, {class: 'form-control required question-category-list', disabled: editable_element}
      = f.hidden_field :question_type,value: @question.question_category.id
      = f.hidden_field 'max_multiple_match', disabled: 'disabled', value: "#{MAX_MULTIPLE_MATCH}"
      = f.hidden_field 'min_multiple_match', disabled: 'disabled', value: "#{MIN_MULTIPLE_MATCH}"
      = f.hidden_field 'max_option', disabled: 'disabled', value: "#{MAX_QUESTION_OPTION}", data: { message: localize('form.max_message') }
      = f.hidden_field 'min_option', disabled: 'disabled', value: "#{MIN_QUESTION_OPTION}"
    .form-group.answer-option-label
      = f.label('', localize('form.answer_option'), class: 'mandatory')
    %span.correct-message.error
    .form-group
      .answer-3.answer-type.single-option
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          .form-group
            %span.caption
              = f.label('', localize('form.option'))
            .input-field
              = answer_form.text_field 'option', disabled: editable_element
            .input-field
              = radio_button_tag 'correct_answer_option', '', answer_form.object.correct_answer, { disabled: editable_element, class: 'single-check correct-option', data: { option: answer_form.index, disabled: editable_element } }
              = answer_form.hidden_field 'correct_answer', disabled: 'disabled', class: "option-#{answer_form.index} correct-hidden"
              %span.caption= localize('form.correct_text')
    .form-group
      .answer-2.answer-type.single-option
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          %div.form-group{ class: "row-#{answer_form.index}" , data: { index: answer_form.index} }
            %span.caption
              = f.label('', localize('form.option'))
            .input-field
              = answer_form.text_field 'option', disabled: editable_element
            .input-field
              = radio_button_tag 'correct_answer', '', answer_form.object.correct_answer, { disabled: editable_element, class: 'single-check correct-option', data: { option: answer_form.index, disabled: editable_element } }
              = answer_form.hidden_field 'correct_answer', disabled: 'disabled', class: "option-#{answer_form.index} correct-hidden"
              %span.caption= localize('form.correct_text')
            .input-field
              = link_to '-','javascript:void(0)', class: 'delete-answer btn btn-primary', data: { index: answer_form.index, delete: localize('form.delete_error') }, disabled: editable_element
        = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-fields', disabled: editable_element
    .form-group
      .answer-1.answer-type
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          %div.form-group{ class: "row-#{answer_form.index}" , data: { index: answer_form.index} }
            %span.caption
              = f.label('', localize('form.option'))
            .input-field
              = answer_form.text_field 'option', disabled: editable_element
            .input-field
              = answer_form.check_box 'correct_answer', include_hidden: true, disabled: editable_element, class: 'correct-option', data: { disabled: editable_element }
            %span.caption= localize('form.correct_text')
            .input-field
              - unless editable_element
                = link_to '-','javascript:void(0)', class: 'delete-answer btn btn-primary', data: { index: answer_form.index, delete: localize('form.delete_error') }
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-fields'
    .form-group
      .answer-8.answer-type
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          %span.caption
            = localize('form.number_of_inputs' )
          .input-field
            = answer_form.text_field 'option', disabled: editable_element, data: {numericError: localize('form.numeric_error' )}, id: 'descriptive_numeric', class: 'numeric'
    .form-group
      .answer-4.answer-type.single-option
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          %div.form-group{ class: "row-#{answer_form.index}" , data: { index: answer_form.index} }
            %span.caption
              = f.label('', localize('form.option'))
            .input-field.upload-file-field
              = answer_form.file_field 'image', disabled: editable_element, class: 'custom-file-upload'
            .input-field
              = radio_button_tag 'correct_answer_check', '', answer_form.object.correct_answer, {disabled: editable_element, class: 'single-check correct-option',data: { option: answer_form.index } }
              %span.caption= localize('form.correct_text')
            = answer_form.hidden_field 'correct_answer', disabled: 'disabled', class: "option-#{answer_form.index} correct-hidden", data: { disabled: editable_element }
            .input-field
              - unless editable_element
                = link_to '-', 'javascript:void(0)', class: 'delete-answer btn btn-primary', disabled: editable_element, data: { index: answer_form.index, delete: localize('form.delete_error') }
            #imagePreview.image-preview
              = image_tag answer_form.object.image.url, id: :upload_image
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-fields', disabled: editable_element
    .form-group
      .answer-5.answer-type
        = f.fields_for :answers, order_options(f.object.answers) do |answer_form|
          %div.form-group{ class: "row-#{answer_form.index}" , data: { index: answer_form.index} }
            %span.caption
              = f.label('', localize('form.option'))
            .input-field.upload-file-field
              = answer_form.file_field 'image', disabled: 'disabled', class: 'custom-file-upload'
            .input-field
              = answer_form.check_box 'correct_answer', include_hidden: true, disabled: editable_element, class: 'correct-option', data: { disabled: editable_element }
              %span.caption= localize('form.correct_text')
            .input-field
              - unless editable_element
                = link_to '-', 'javascript:void(0)', class: 'delete-answer btn btn-primary', disabled: editable_element, data: { index: answer_form.index, delete: localize('form.delete_error') }
            #imagePreview.image-preview
              = image_tag answer_form.object.image.url, id: :upload_image
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-fields'
    .form-group
      .answer-6.answer-type
        = f.fields_for :answers, order_options(f.object.answers) do |match_form|
          - answer_option = parse_json(match_form.object.option) if match_form.object.option && @question.parse_option
          - if answer_option
            - key = answer_option.keys.first.to_s
            %div.form-group{ class: "row-#{match_form.index}", data: { index: match_form.index} }
              %span.caption
                = localize('form.option')
              .input-field
                = text_field_tag "left_option_#{match_form.index}", key, { disabled: 'disabled' }
              .input-field
                = text_field_tag "right_option_#{match_form.index}", answer_option[key], { disabled: editable_element, class: 'match-pair', data: { option: match_form.index } }
              = match_form.hidden_field 'option', disabled: 'disabled'
              .input-field
                - unless editable_element
                  = link_to '-', 'javascript:void(0)', class: 'delete-answer btn btn-primary', data: { index: match_form.index, delete: localize('form.delete_error') }
              .clearfix
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-match-pair'
    .form-group
      .answer-7.answer-type
        = f.fields_for :answers, order_options(f.object.answers) do |multiple_form|
          - answer_option = parse_json(multiple_form.object.option) if multiple_form.object.option && @question.parse_option
          - if answer_option
            - key = answer_option.keys.first.to_s
            .largeText{data: { index: multiple_form.index } }
              .form-group{ class: "row-#{multiple_form.index}" , data: { index: multiple_form.index} }
                %span.caption
                  = localize('form.option')
                .input-field
                  = text_field_tag "question_multiple_#{multiple_form.index}__left_option", key, { disabled: editable_element }
                .input-field.right-field
                  - rightOption = answer_option.values.flatten
                  - right_index = rightOption.length - 1
                  - rightOption.each_with_index do |option_value,index|
                    = text_field_tag "right_[#{multiple_form.index}]_option_#{index}".to_sym, option_value, { disabled: editable_element, class: 'multiple-match', data: { option: multiple_form.index, disabled: editable_element, index: index } }
                  .input-field.manipulate-option.pull-left
                    = link_to '+', 'javascript:void(0)', class: 'add-multiple-match btn btn-primary', data: { rightIndex: right_index, maxLimit: localize('form.error_message')}
                    = hidden_field_tag "question[answers_attributes[#{multiple_form.index}]][option]", '', id: "question_multiple_#{multiple_form.index}__option", disabled: 'disabled'
                    = link_to '-', 'javascript:void(0)', class: 'multiple-match-delete-answer btn btn-primary', data: { rightIndex: right_index, delete: localize('form.match_delete_error')}
                .input-field
                  - unless editable_element
                    = link_to '-', 'javascript:void(0)', class: 'multiple-matching-delete-answer btn btn-primary', disabled: editable_element, data: { index: multiple_form.index, delete: localize('form.delete_error') }

                .clearfix
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-multiple-match'
    .form-group
      .answer-9.answer-type.sorting-option
        - index = 0
        = f.fields_for :answers, order_options(f.object.answers) do |sort_form|
          - answer_option = parse_json(sort_form.object.option) if sort_form.object.option && @question.parse_option
          - if answer_option
            - index = answer_option.keys.first.to_i
            .form-group{ class: "row-#{sort_form.index}" , data: { index: sort_form.index} }
              %span.caption
                = index
              = sort_form.hidden_field 'sequence', disabled: 'disabled', value: index, class: 'sequence'
              .input-field
                = text_field_tag 'sort', answer_option[answer_option.keys.first], { disabled: 'disabled', class: 'sorting', data: { option: sort_form.index } }
                = sort_form.hidden_field 'option', disabled: 'disabled'
              .input-field
                - unless editable_element
                  = link_to '-', 'javascript:void(0)', class: 'sorting-delete-answer btn btn-primary', data: { index: sort_form.index, delete: localize('form.delete_error')}
              .clearfix
        - unless editable_element
          = link_to localize('form.add_more'), 'javascript:void(0)', class: 'add-option-fields'
    .actions
      = f.submit(localize('form.submit'),class:'btn btn-primary submit_form', data: { message: localize('form.fields_required'), correct: localize('form.correct_message'), multiplecorrect: localize('form.multiple_correct_message'), conditional_delete: localize('form.conditional_delete')})
      = link_to localize('form.cancel'), assessment_questions_path(params[:assessment_id])
