<%= form_for(@version) do |f| %>
  <% if @version.errors.any? %>
    <div id='error_explanation' class='error'>
      <span><%= pluralize(@version.errors.count, 'error') %> <%=localize('form.error_message') %></span>

      <ul>
      <% @version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label localize('form.description') %><br>
    <%= f.text_area :description %>
  </div>
  <div class='field'>
    <%= f.label localize('form.image') %><br>
    <%= f.text_field :image %>
  </div>
  <div class='field'>
    <%= f.label localize('form.video') %><br>
    <%= f.text_field :video %>
  </div>
  <div class='field'>
    <%= f.label localize('form.expiry') %><br>
    <%= f.datetime_select :expiry %>
  </div>
  <div class='field'>
    <%= f.label localize('form.prerequisite') %><br>
    <%= f.number_field :prerequisite %>
  </div>
  <div class='field'>
    <%= f.label localize('form.course') %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class='field'>
    <%= f.label localize('form.category') %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class='actions'>
    <%= f.submit localize('form.submit')%>
  </div>
<% end %>
