%section.add-new-course.edit-course
  .custom-page-header
    .row
      .col-md-8
        %h1= localize(:course_name)
        %h4
          %span= localize(:course_breadcrumb)
          %span /
          %span= localize(:chapter_breadcrumb)
      .col-md-4
        .publish-btn-wrap
          - publish_unpublish = @version.published ? localize(:unpublish_course) : localize(:publish_course)
          = hidden_field_tag :publish, @version.published
          = link_to publish_unpublish, 'javascript:void(0)', class: 'btn btn-primary', id: 'publish_course', data: { unpublish_message: localize(:unpublish_confirm_message), unpublish_text: localize(:unpublish_course), publish_text: localize(:publish_course)}
          = link_to localize(:preview_course), preview_version_path, class: 'btn btn-primary'
  .chapter-container
    - unless @version.editable
      .warning-msg-block.alert-warning
        %p= localize(:disable_add_delete_user_purchase)
    %p#notice= notice
    #publishSuccessMsg
      .alert.alert-success.hidden-area= localize(:publish_success_message)
    #publishErrorMsg
      .alert.alert-danger.hidden-area
        %p= localize(:publish_error_1)
        %p= localize(:publish_error_2)
        %ol
          %li= localize(:publish_error_3)
          %li= localize(:publish_error_4)
          %li= localize(:publish_error_5)
          %li= localize(:publish_error_6)
          %li= localize(:publish_error_7)
    #unpublishSuccessMsg
      .alert.alert-success.hidden-area= localize(:unpublish_success_message)
    = link_to @course.title, 'javascript:void(0);', class: 'course-heading show-heading'
    %h5.text-center= localize(:add_course_note)
    #course-content= version_view_path(@chapters, @version)
    = hidden_field_tag :version_id, @version.id
