.evaluation-question
  width: 100%
  padding: 19px 0
  .edit-btn
    height: 16px
    width: 18px
    background: asset-url('sprite.png') no-repeat -78px -30px
    display: inline-block
    cursor: pointer
    margin: 0 2px 0 7px
  .delete-btn
    height: 16px
    width: 14px
    background: asset-url('sprite.png') no-repeat -78px -54px
    display: inline-block
    cursor: pointer

.active-button
  display: inline-block

.eval-attr
  display: inline-block
  padding: 0

.four-table-heading
  margin-bottom: 10px
  border: 1px solid #ccc
  span
    display: inline-block
    width: 15%
    float: left
    text-align: center
    padding: 10px 19px
    box-sizing: border-box

.evaluation-que-form
  margin: 40px 0 30px 0
  .eval-questions-field
    .form-group
      width: 50%
      float: left
      margin-right: 20px
    input[type='text']
      margin-bottom: 10px
  .actions
    float: left
    margin-top: 22px

.eval-question-list
  .eval-attr
    width: 15%
    float: left
    padding: 10px 19px
    text-align: center
  .action-wrap
    width: 10%
  .eval-attr.activate
    margin-left: -10px
    .active-button
      margin-left: 10px
  .edit-eval-question
    margin: 0 20px
    .form-group
      width: 50%

.edit-evaluation-question
  input, label
    margin-bottom: 15px

.four-table-heading, .evaluation-question
  .question-name
    width: 45%
    word-wrap: break-word
  .question-status, .activate
    width: 25%
  .question-action, .action-wrap
    width: 15%
