/*Image interactive slide css*/
.course-template-inner
  background: white
  border: 1px solid #dfdfdf
  position: relative
  overflow: hidden
  width: 846px
  margin: 20px
  padding: 5px 28px
  background: #FFFFFF
  .glyphicon-remove
    position: absolute
    top: 0
    right: 0
    background: #060606
    padding: 4px
  .glyphicon-remove:before
    color: #aaaaaa
  .update-text-container,
  .add-section-container
    margin: 0
    width: 420px
    .selected
      border: 1px solid #004e94
    .uploaded-image.selected
      border: none
  .add-section
    height: 150px
    width: 165px
    position: relative
    border: solid 1px #dddddd
    padding: 20px
    background: white
    float: left
    text-align: center
    margin: 10px
    strong
      display: block
      margin-top: 10px
      text-align: center
      line-height: 16px
    img
      vertical-align: top
  .uploaded-image
    img
      max-width: 100%
      max-height: 100%
  .image-upload
    width: 122px
    height: 91px
    float: none
    margin-bottom: 10px
    vertical-align: middle
    line-height: 91px
    text-align: center
    position: relative
    .upload-course-image
      position: absolute
      top: 0
      left: 0
      width: 120px
      height: 89px
      background-color: #f6f6f6
      border: solid 1px #dddddd
      z-index: 1
      cursor: pointer

.interactive-slide-wrapper
  background: #d1d1d1
  overflow: hidden
  .custom-page-header
    margin-bottom: 0
    border-bottom: none

.edit-quiz-wrapper
  .quiz-name
    margin-top: 20px
  h3
    text-transform: capitalize
    color: #505050
    display: inline-block
    margin: 0 0 5px 0
    float: left
    word-wrap: break-word
  .edit-icon
    display: inline-block
    background: asset-url('sprite.png')
    height: 21px
    width: 23px
    background-position: -4px -233px
    margin: 2px 0 0 15px
    float: left
  .quiz-description
    .desc-wrap
      display: table
      h4
        display: table-cell
        vertical-align: top
        padding-top: 4px
    .desc-edit-icon
      display: table-cell
      vertical-align: top
    .editor-desc
      font: 300 16px 'fira-sans', arial, sans-serif
      overflow: hidden
      text-align: left
      h1, h1 span
        font-size: 30px !important
      h2, h2 span
        font-size: 26px !important
      h3, h3 span
        font-size: 22px !important
      h4, h4 span
        font-size: 20px !important
      h5, h5 span
        font-size: 18px !important
      h6, h6 span
        font-size: 16px !important
      h1, h2, h3, h4, h5, h6
        font-family: 'alternate-gothic-no-3-d', arial, sans-serif
        text-align: inherit
        margin: 0
        padding: 0
        line-height: normal
        font-size: inherit
        text-transform: inherit
        font-weight: bold
        color: inherit
        float: none
        span
          font-family: 'alternate-gothic-no-3-d', arial, sans-serif !important
      ul, ol
        margin: 0 0 10px 32px
        padding: 0
      ol
        li
          list-style-type: decimal !important
      ul
        li
          list-style: disc
      p, span, strong
        font-family: 'fira-sans', arial, sans-serif !important

  .editSlideName
    width: 50%
    margin-top: 21px
    overflow: hidden
    border: solid 1px #969696
    border-radius: 6px
    padding: 10px

.edit-quiz-name
  margin: 20px 0
  overflow: hidden
  border: 1px solid #9c9b9b
  border-radius:  6px
  padding: 10px
  a
    display: block
    color: #333333
    margin: 5px 20px

.description
  text-align: right
  .description-heading
    display: block
    margin-bottom: 10px
    color: #000000
  .description-container
    margin-bottom: 10px
  a
    color: #333

.course-template-inner
  .custom-upload
    position: relative
    input[type='file']
      outline: none
      position: relative
      text-align: right
      opacity: 0
      z-index: 2
      width: 100%
      height: 100%
      cursor: pointer
  .add-section-container
    width: 295px
    float: left
    .quiz-item
      width: 294px
      margin: 0 0 10px 0
      border: 1px solid #dddddd
      padding: 10px
      height: auto
      &:first-child
        margin-top: 10px
    .selected
      border: 1px solid #004e94
    .add-quiz-item
      span
        display: inline-block
      .glyphicon-plus
        font-size: 20px
        color: #767676
        float: left
      .data-content
        margin: 5px 0 0 10px
        display: block
        float: left
  .update-text-container
    width: 460px
    margin: 0 0 0 20px
    float: right
    .update-heading
      position: relative
      width: 100%
      margin: 10px 0
      height: auto
      overflow: hidden
      h4
        margin: 20px 15px 10px 0
        line-height: 28px
        color: #cd091d
        font: 34px 'alternate-gothic-no-3-d', arial, sans-serif
        text-transform: uppercase
    .update-links
      border-top: 1px solid #dddddd
      a
        display: block
        color: #333333
        margin: 5px 20px
    .active-heading
      border: 1px solid #ddd
      input[type='text']
        padding: 20px 15px
        width: 250px
        height: auto
        border: none
        box-shadow: none
        font-size: 24px
        &:focus
          outline: none
    .text-area-container
      margin: 10px 0 0
      textarea
        background: #fff
        border: solid #dddddd 1px
        box-shadow: none
        resize: none
        padding: 2%
        min-height: 200px
        height: auto
        width: 100%
        margin: 5px 0 0 0
        display: block
        color: #333333
        text-align: left
        &:focus
          outline: none
      .update-links
        border: 1px solid #dddddd
        border-top: none
        width: 100%
        a
          display: block
          color: #333333
          margin: 5px 20px
    .edit-heading
      border: solid #ddd 1px
      padding: 0
      input
        border: none
        height: 70px
        padding: 5px 20px
        font-size: 16px
  .delete-section
    width: 100%
    border-top: 1px solid #dddddd
    padding: 10px 10px 0 0
    margin-bottom: 20px
    float: left
    a
      color: #333333
      display: block

/*Image text interactive slider*/
.img-txt-interactive-slide
  border: 1px solid #dfdfdf
  position: relative
  height: auto
  overflow: hidden
  padding: 0
  .tabs
    position: relative
    .blocker
      background: rgba(230, 230, 230, 0.7) no-repeat 50% 50%
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 10
    ul
      height: auto
      position: relative
      overflow: hidden
      margin: 0
      background: none
      border-bottom: 1px solid #dddddd
      border-top: 1px solid #dddddd
      li
        list-style-type: none
        float: left
        border: none
        background: none
        border-left: 1px solid #dddddd
        &:first-child
          border-left: 0
        a
          padding: 20px 3px
          display: block
          text-align: center
          width: 134px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
        &.active-tab-link
          a
            color: #cd091d
            background: #f6f6f6
  .ui-widget-content
    background: none
    border: none
    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited
      color: #333
    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited
      background: #f6f6f6
      color: #cd091d
  .tab-view-image-upload
    width: 288px
    height: 373px
    border: 1px solid #dddddd
    padding: 10px
    margin: 10px 0 10px 16px
    .tab-view-image
      position: relative
      width: 100%
      height: 320px
      border: 1px solid #dddddd
      line-height: 40px
      vertical-align: middle
      text-align: center
      background: #dddddd
      /*Without Form*/
      img
        max-width: 278px
        max-height: 194px
        vertical-align: middle
      i
        background: asset-url('sprite.png') repeat scroll -55px -253px rgba(0, 0, 0, 1)
        height: 16px
        width: 15px
        position: absolute
        top: 0
        right: 0
        cursor: pointer
      /*With Form*/
      .image-upload-form
        margin: 0
        position: relative
        width: 100%
        height: 194px
        .custom-upload
          input[type='file']
            outline: none
            position: relative
            text-align: right
            opacity: 0
            z-index: 2
            width: 100%
            height: 100%
            cursor: pointer
        span
          background: asset-url('sprite.png') no-repeat 0 -303px
          position: absolute
          top: 43%
          left: 45%
          width: 33px
          height: 24px
    a
      color: #333333
      display: block
      text-align: center
    .add-section-container
      width: 100%
      height: 100%
      .custom-upload
        width: 100%
        height: 100%
        overflow: hidden
        .img-wrap
          height: 363px
          width: 266px
          text-align: center
          display: table-cell
          vertical-align: middle
          img
            max-width: 266px

.img-txt-interactive-slide
  .update-text-container
    width: 420px
    margin-right: 20px
  .tab-based-content
    width: 497px
    margin: 10px 16px 10px 0
    min-height: 310px
    overflow: hidden
    .editor-desc
      height: 290px
    .update-heading
      margin-top: 0
      h4
        margin: 30px 15px 0 0

.img-interactive-slide.course-template-inner
  .add-section-container
    width: 380px
  .update-text-container
    width: 360px
    .editor-desc
      height: 360px
  .custom-upload
    input[type='file']
      height: 89px


.update-text-container
  display: block

.back-to-syllabus-btn
  width: 845px
  margin: 20px
  overflow: hidden
  text-align: right

.course-template-inner
  text-align: left
  font-family: 'fira-sans', arial, sans-serif
  .editor-desc
    font: 300 16px 'fira-sans', arial, sans-serif
    overflow: hidden
    line-height: 22px
    color: #000
    text-align: left
    height: 360px
    h1, h1 span
      font-size: 30px !important
    h2, h2 span
      font-size: 26px !important
    h3, h3 span
      font-size: 22px !important
    h4, h4 span
      font-size: 20px !important
    h5, h5 span
      font-size: 18px !important
    h6, h6 span
      font-size: 16px !important
    h1, h2, h3, h4, h5, h5, h6,
    h1 span, h2 span, h3 span, h4 span, h5 span, h5 span, h6 span
      font-family: 'alternate-gothic-no-3-d', arial, sans-serif !important
      text-align: inherit
      margin: 0
      padding: 0
      line-height: normal
      font-size: inherit
      text-transform: inherit
      font-weight: bold
      color: inherit
      float: none
      span
        font-family: 'alternate-gothic-no-3-d', arial, sans-serif !important
    ul, ol
      margin: 0 0 10px 32px
      padding: 0
    ol
      li
        list-style-type: decimal !important
    ul
      li
        list-style: disc
    p, span, strong
      font-family: 'fira-sans', arial, sans-serif !important
