/* global css startt */
body
  margin: 0
  padding: 10px 15px
  color: #231f20
  font: 12px 'fira-sans',arial,sans-serif
  background: #FFF asset-url('certificate-bg.jpg') repeat top left

h1, h2, h3, h4, h5, h6
  font-family: 'alternate-gothic-no-3-d',arial,sans-serif
  margin: 0
  font-weight: normal

.clearfix
  clear: both

.cert-wrapper
  border: solid #4d4d4f 4px
  min-height: 580px
  padding: 2px
  .inside
    border: solid #4d4d4f 1px
    min-height: 580px
    text-align: center
    .cert-name
      margin: 76px 0 15px 0
      font-size: 44px
      position: relative
      &:before
        content: '*'
        color: #be1e2d
        width: 18px
        height: 18px
        position: absolute
        top: -35px
        left: 50%
        margin-left: -9px
    .cert-of
      margin-bottom: 10px
      position: relative
      width: 240px
      margin: 0 auto
      font-size: 18px
      font-style: italic
      display: block
      &:before, &:after
        content: ''
        display: block
        width: 100px
        height: 6px
        background: #FFF asset-url('cert-img1.png') no-repeat top left
        float: left
        margin-top: 10px
      &:after
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        transform: rotate(180deg)
        float: right
    .cert-completion
      margin: 10px auto
      font-size: 42px
      color: #FFF
      background: #a51e36
      width: 360px
      line-height: 55px
      height: 48px
      &:before, &:after
        content: ''
        display: block
        width: 25px
        height: 48px
        background: #FFF asset-url('cert-img2.png') no-repeat top left
        float: left
      &:after
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        transform: rotate(180deg)
        float: right
    p
      font-style: italic
      margin: 0
    .cert-coach-name
      margin: 53px auto 17px
      font: 64px 'fira-sans',arial,sans-serif
      padding-bottom: 7px
      line-height: 50px
      border-bottom: solid #a3a5a8 2px
      display: table
    .cert-course-title
      font: 29px 'alternate-gothic-no-3-d',arial,sans-serif
      margin: 5px 0 20px
    .cert-date
      font-style: italic
      color: #898989
      span
        border-bottom: solid 1px #898989
        margin-left: 6px
    .logo-wrap
      margin-bottom: 48px
      li
        display: inline-block
        margin: 0 42px
        width: 200px
        .name
          color: #a51e36
          font-size: 19px
          font-weight: bold
          font-style: italic
        .designation
          color: #231f20
        &:last-child
          img
            position: relative
            top: 18px
