/* global css startt */
=addContentTransition
  transition: all 0.3s ease
  -webkit-transition: all 0.3s ease

body
  margin: 0
  padding: 0
  color: #000000
  font: 13px 'fira-sans', arial, sans-serif
  background: #e6e6e6
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-family: 'alternate-gothic-no-3-d', arial, sans-serif
  margin: 0
  font-weight: normal

ul, ol, p
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none
  outline: none

.clearfix
  clear: both

.pull-left
  float: left

.pull-right
  float: right

.hidden-area
  display: none

.right
  width: 675px

.blue-btn
  background-color: #122549
  border-radius: 5px
  padding: 0 82px
  color: #fff
  font-size: 28px
  line-height: 56px
  display: inline-block
  cursor: pointer
  font-family: 'alternate-gothic-no-3-d', arial, sans-serif

.blue-btn.disabled, .blue-btn.disabled:hover,
.submit-btn.disabled, .submit-btn.disabled:hover
  background-color: #cccfd3
  border: solid #a1a1a1 1px

.icon
  background-image: asset-url('sprite_ct.png')
  background-repeat: no-repeat

.loader
  background: rgb(255,255,255) asset-url('updating.gif') no-repeat center center/5%
  height: 100%
  width: 100%
  position: absolute
  z-index: 110
  left: 0
  top: 0
  display: none
  z-index: 1

/* header css start */
.ct-header, .ct-footer
  background: #122549
  color: #FFFFFF
  position: relative
  z-index: 10

.ct-header .inside, .ct-footer .inside
  padding: 11px 0
  box-sizing: border-box

.logo
  display: block
  margin-left: 53px
  img
    display: block
    border: 0

.ct-header
  .breadcrumb
    position: relative
    z-index: 1
    margin-left: 25px
    li
      float: left
    a
      color: #FFFFFF
      margin-right: 10px
      float: left
      cursor: pointer
      &::after
        content: ''
        width: 0
        height: 0
        display: inline-block
        border-top: 6px solid transparent
        border-bottom: 6px solid transparent
        border-left: 6px solid #FFFFFF
        float: right
        margin: 4px 0 0 5px
    li:last-child a::after
      display: none
  .logout-wrap
    position: relative
    z-index: 1
    a
      color: #FFFFFF
      font-size: 12px
      display: block
    .toggle
      display: none
  .welcome-link::after
    content: ''
    width: 0
    height: 0
    display: inline-block
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid #FFFFFF
    float: right
    margin: 7px 0 0 10px

.ct-header .welcome-link.active:after
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-top: none
  border-bottom: 6px solid #FFFFFF

.ct-header
  .logout-wrap .toggle
    position: absolute
    top: 32px
    border: solid #6d1416 1px
    width: 100%
    background: #9d1d20
    border-top: none
    border-radius: 0 0 5px 5px
  .toggle a
    display: block
    padding: 6px 10px
    cursor: pointer
  .right::after
    content: ''
    width: 100%
    height: 43px
    background: #9d1d20
    display: block
    position: absolute
    top: 0
    -webkit-transform: skew(-20deg)
    -moz-transform: skew(-20deg)
    -ms-transform: skew(-20deg)
    transform: skew(-20deg)
    border-left: solid 3px #FFFFFF

.ct-footer .right::after
  content: ''
  width: 100%
  height: 43px
  background: #9d1d20
  display: block
  position: absolute
  top: 0
  -webkit-transform: skew(-20deg)
  -moz-transform: skew(-20deg)
  -ms-transform: skew(-20deg)
  transform: skew(-20deg)
  border-left: solid 3px #FFFFFF

/* Main container css start */
.ct-content
  background: #e6e6e6

.inside
  width: 940px
  margin: 0 auto

.ct-content .inside
  text-align: center

.course-taking-content
  h3
    color: #122549
    font-size: 32px
    text-transform: uppercase
    text-align: center
    word-wrap: break-word
  h4
    color: #9d1d20
    margin-bottom: 15px
    font: 18px 'fira-sans', arial, sans-serif
    word-wrap: break-word
  .course-content-wrapper
    height: 556px
    position: relative
  .course-content-block
    padding: 25px 48px
    width: 844px
    height: 526px
    background: #FFFFFF
    box-sizing: border-box
    margin: 0 auto 30px
    text-align: left
    position: relative
    z-index: 0
    overflow: hidden
    h2
      font-size: 42px
      line-height: 44px
      color: #122549
      text-transform: uppercase
      text-align: center
      word-wrap: break-word
    .video-layout
      width: 718px
      margin: 0 auto
      h2
        margin-bottom: 20px
    .two-col-layout, .text-interactive-layout, .text-image-interactive-layout
      text-align: left
      p
        font-size: 16px
        line-height: 22px
        margin-bottom: 10px
      h2
        margin-bottom: 10px
        word-wrap: break-word
      .slide-desc
        word-wrap: break-word
      .left-col
        float: left
        overflow: hidden
      .image-list
        li
          float: left
          border-radius: 1px
          margin: 4px 5px 10px
          height: 112px
          .img-wrap
            width: 142px
            height: 112px
            text-align: center
            position: relative
            img
              max-width: 100%
              max-height: 100%
        li.active, li:hover
          box-shadow: 0 0 1px 4px #9d1d20
      .start-page
        h5
          color: #9d1d20
          line-height: 26px
          font: 34px 'alternate-gothic-no-3-d', arial, sans-serif
          margin: 0 0 9px
          text-transform: uppercase
          word-wrap: break-word
          p
            font-size: 34px
            line-height: 30px
        .no-slide-desc
          max-height: 285px
          overflow: auto
          font-weight: 300
      .right-col
        float: right
        width: 360px
        h5
          color: #9d1d20
          line-height: 26px
          font: 34px 'alternate-gothic-no-3-d', arial, sans-serif
          margin: 0 0 9px
          text-transform: uppercase
          word-wrap: break-word
        h6
          font: 16px 'fira-sans', arial, sans-serif
          line-height: 18px
          margin-bottom: 25px
        .editor-desc
          line-height: 22px
      .text-list li
        list-style: disc
        margin: 0 0 15px 17px
        line-height: 18px
        font: 300 16px 'fira-sans', arial, sans-serif
    .text-interactive-layout
      margin: 0 -20px
      .right-col
        margin-top: 30px
        width: 460px
      .title-list
        li
          width: 256px
          padding: 12px 18px
          color: #092549
          font-weight: bold
          border: solid #dadada 1px
          margin-bottom: 5px
          cursor: pointer
          position: relative
          font-size: 14px
        .active,
        li:hover
          background: #f2f2f2
          color: #9e1d20
        .course-completed-icon::after
          top: 16px
      .right-col
        h5
          margin-bottom: 16px
    .image-interactive-slide
      margin: 0 -20px
      .left-col
        width: 360px
      .right-col
        margin-top: 20px
      .course-completed-icon::after
        top: 8px
        right: 13px
      .img-slide-desc
        height: 360px
        overflow: hidden
    .presentation-text
      h6
        color: #000
        line-height: 21px
        font: 17px bold 'fira-sans', arial, sans-serif
        margin-bottom: 8px
      .right-col
        width: 350px
        h5
          line-height: 24px
          font: 18px bold 'fira-sans', arial, sans-serif
          text-transform: none
    .text-image-interactive-layout
      margin: 0 -50px
      h5
        p
          margin-top: 50px
      h2
        margin-bottom: 10px
      .slide-tab
        margin-top: 10px
        border-top: solid #dddddd 1px
        border-bottom: solid #dddddd 1px
        overflow: hidden
        li
          float: left
          position: relative
          a
            width: 139px
            height: 50px
            text-align: center
            border-right: solid #dddddd 1px
            color: #092549
            font-size: 14px
            font-weight: bold
            display: table-cell
            vertical-align: middle
            cursor: pointer
            &:hover,
            &.active
              background: #f2f2f2
              color: #9e1d20
          .course-completed-icon::after
            top: 33px
            right: 63px
          &:last-child
            a
              border: none
      .slide-content
        padding: 10px 16px
        overflow: hidden
        .left-col
          width: 288px
          height: 373px
        .right-col
          width: 497px
          h5
            margin-top: 30px
          .editor-desc
            height: 290px
            overflow: hidden
        .img-wrap
          width: 288px
          height: 373px
          text-align: center
          display: table-cell
          vertical-align: middle
          img
            max-width: 288px
    .sorting-question-layout, .single-answer-question-layout
      margin: 0 -50px
      color: #000000
      h2
        span
          font-size: 28px
          color: #687184
      .question-block
        font-size: 20px
        padding: 28px 54px
        margin-top: 15px
        line-height: 24px
        border-top: solid #cdcdcd 1px
      .answer-block
        padding: 0 52px 14px
        .table
          width: 100%
          height: 221px
          overflow-y: auto
          display: block
          border-collapse: collapse
          tr
            td
              border: solid #cdcdcd 1px
              font-size: 17px
              padding: 2px 24px
              vertical-align: middle
              &:first-child
                color: #9d1d20
                font: 35px 'fira-sans', arial, sans-serif
                width: 2%
    .single-answer-question-layout, .evaluation-listing
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        bottom: 68px
        left: 52px
        width: 723px
        height: 45px
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 19%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 19%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
      h2
        text-align: left
        padding: 0 54px
        margin-bottom: 5px
      .assessment-wrap
        overflow: auto
        height: 315px
        margin-bottom: 20px
        position: relative
      .question-block
        padding: 18px 54px
        margin-top: 0
        border-bottom: solid #cdcdcd 1px
      .answer-block
        overflow: auto
        padding: 20px 52px 45px
        li
          margin: 0 2px 6px
          font-size: 17px
          overflow: hidden
      .submit-btn
        width: 738px
    .custom-content-layout,
    .document-content-layout
      margin: -25px -50px
      .pdf-content
        width: 842px
        height: 526px
        overflow: scroll
        .pdf-canvas
          padding: 15px 0
  .custom-content-height
    height: auto
  .congratulation-block.course-content-block
    height: auto
    background: none
    width: auto
    padding-bottom: 0
    .congratulation-info
      display: table-cell
      text-align: center
      vertical-align: middle
      width: 844px
      height: 475px
      background: #FFF
      h2
        font-size: 59px
        margin-bottom: 10px
      p
        margin-bottom: 53px
        color: #9d1d20
        font-size: 22px
      .blue-btn
        text-transform: uppercase
        font: 22px 'alternate-gothic-no-3-d', arial, sans-serif
        padding: 8px 35px
    .pagination-block
      margin: 30px auto 0

.submit-btn
  background: #122549
  color: #FFFFFF
  text-transform: uppercase
  font: 28px 'alternate-gothic-no-3-d', arial, sans-serif
  width: 800px
  text-align: center
  padding: 8px 0
  display: block
  margin: 0 auto
  border-radius: 5px
  cursor: pointer

.assessment-visual-list
  text-align: center
  li
    display: inline-block
    margin: 0
    .img-wrap
      width: 140px
      height: 98px
    .radiobox-wrap,
    .checkbox-list
      display: inline-block
      .radio-wrap,
      .checkbox-wrap
        margin-right: 0

.cross-icon
  background-position: 0 -31px
  float: left
  width: 23px
  height: 23px
  margin-right: 20px

.tick-icon
  width: 24px
  height: 18px
  margin-right: 20px
  float: left
  background-position: 0 -240px

.result-layout
  margin-top: 10px
  text-align: center
  span
    display: inline-block
    margin-right: 15px
    word-break: break-all
  p
    margin-bottom: 25px
  .img-wrap
    width: 120px
    height: 100px
  .given-answer
    display: inline-block

.one-col-layout.result-layout,
.pre-course-layout-wrap
  position: relative
  padding-bottom: 45px
  height: 273px
  &::after
    content: ''
    display: block
    position: absolute
    bottom: 1px
    left: 0
    width: 100%
    height: 45px
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 19%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 19%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
  .blue-btn
    font-size: 22px

.one-col-layout.result-layout
  height: 277px

.red-text
  color: #ff3600
  font: 17px bold 'fira-sans', arial, sans-serif
  line-height: 24px
  margin-bottom: 5px

.green-text
  color: #008403
  font: 17px bold 'fira-sans', arial, sans-serif
  line-height: 20px
  margin-bottom: 5px

.course-content-block.one-col-layout
  padding: 25px 0

.one-col-layout
  .result-listing-block
    height: 320px
    overflow: auto
    margin: 0 -50px
    padding: 0 50px
    border-top: 1px solid #cdcdcd
    border-bottom: 1px solid #cdcdcd
  .border-wrapper
    border-bottom: 1px solid #cdcdcd
    padding: 30px 0 20px
    text-align: left
    &:last-child
      border-bottom: none
  p
    font-size: 17px
    line-height: 19px
    color: #000
  .retake-btn
    margin-top: 20px

.center-wrapper
  text-align: center

.pre-course-layout.one-col-layout
  height: 320px
  overflow: auto
  margin-bottom: 18px
  p
    margin: 35px 0
  .border-wrapper
    margin-bottom: 20px
    padding: 0
    border-top: 1px solid #cdcdcd
    border-bottom: 1px solid #cdcdcd

.course-taking-content
  padding-top: 50px

/* Left Navigation css start */
.course-taking-left-nav, .course-taking-right-nav
  width: 320px
  background: #FFFFFF
  border-right: solid 1px #dfdfdf
  position: fixed
  left: -264px
  top: 0
  bottom: 0
  z-index: 1
  overflow: hidden

.course-taking-left-nav
  padding: 93px 0 0
  transition: left 0.5s
  -webkit-transition: left 0.5s

.course-taking-left-nav .nav-heading, .course-taking-right-nav .nav-heading
  height: auto
  overflow: hidden
  padding: 7px 0 18px 20px
  z-index: 1
  position: relative
  background: #FFFFFF
  display: none

.course-taking-left-nav
  .glyphicon
    font-size: 16px
    padding: 13px 20px
    float: right
    cursor: pointer
    margin-top: -50px
    &::after
      content: ''
      display: inline-block
      width: 16px
      height: 13px
      background: asset-url('sprite_ct.png') no-repeat 0 0
  .nav-heading .hide-block
    cursor: pointer
    float: right

.course-taking-right-nav .nav-heading .hide-block
  cursor: pointer
  float: right

.course-taking-left-nav .hide-block .hide-icon, .course-taking-right-nav .hide-block .hide-icon
  width: 25px
  height: 25px
  display: inline-block
  border: solid 1px #dfdfdf
  position: relative
  border-right: none

.course-taking-left-nav .hide-block .hide-icon:after, .course-taking-right-nav .hide-block .hide-icon:after
  content: ''
  width: 0
  height: 0
  display: inline-block
  border-top: 6px solid transparent
  border-bottom: 6px solid transparent
  border-right: 6px solid #9d1d20
  -webkit-transform: translate(-50%, -70%)
  -moz-transform: translate(-50%, -70%)
  -o-transform: translate(-50%, -70%)
  transform: translate(-50%, -70%)
  position: relative
  left: 50%
  top: 50%

.course-taking-left-nav .hide-block span, .course-taking-right-nav .hide-block span
  display: inline-block
  vertical-align: top
  margin: 7px 4px 0 0
  font: 12px Arial
  color: #122549

.course-taking-left-nav .nav-heading h5, .course-taking-right-nav .nav-heading h5
  font-size: 24px
  margin: 7px 0 0 0
  color: #9d1d21
  text-transform: uppercase
  line-height: 18px

/* vertical left menu css */
.vertical-left-menu
  position: relative
  left: 264px
  overflow-y: auto
  counter-reset: number
  transition: left 0.5s
  -webkit-transition: left 0.5s
  height: 100%
  .chapter-menu
    display: none
  .active-content
    display: block

.vertical-left-menu > li > a::before
  counter-increment: number
  content: counter(number) '.'
  display: inline-block
  float: left
  position: relative
  z-index: 0
  margin-right: 30px
  min-height: 18px

.vertical-left-menu > .active > a
  color: #cd091d
  &:before
    color: #cd091d

.vertical-left-menu > li > .active
  ul
    display: block

.content-slide::after
  border-bottom-color: #9d1d20

.course-completed-icon::after
  content: ''
  width: 14px
  height: 14px
  display: inline-block
  background: asset-url('sprite_ct.png') no-repeat 0 -15px
  position: absolute
  top: 18px
  right: 23px

.vertical-left-menu
  li:first-child
    border-top: 1px solid #dddddd
  li
    border-bottom: 1px solid #dddddd
    cursor: pointer
    font-weight: bold
    position: relative
    line-height: 16px
    a
      padding: 0 35px 0 25px
      color: #122549
      display: table-cell
      position: relative
      z-index: 100
      height: 53px
      vertical-align: middle
      width: 260px
    ul
      margin: 8px 0 18px 0
      overflow: hidden
    li
      list-style-type: none
      margin: 0 0 20px 26px
      padding: 0
      border-bottom: none
      font-size: 12px
      &:first-child
        border-top: none
      &:before
        content: '\00b7'
        display: inline-block
        font-size: 40px
        line-height: 20px
        float: left
        color: #c1c1c1
      &:hover::before
        color: #cd091d
      a
        padding: 0 28px 0 48px
        font-weight: normal
        height: 20px
        color: #3f5061
        &:hover
          color: #cd091d
    .course-completed-icon::after
      top: 0
    ul .active
      font-weight: bold
      &:before, a
        color: #cd091d
  .disabled, .disabled:hover
    color: #A0A0A0
    a, a:hover, a::before
      color: #A0A0A0
    .disabled, .disabled:hover
      color: #A0A0A0
  .disabled::before
    color: #A0A0A0
    li::before
      color: #A0A0A0
  .disabled:hover
    &:before
      color: #A0A0A0

.vertical-left-menu
  li
    .chapter.submenu
      &::after
        position: absolute
        right: 6px
        top: 22px
        content: ''
        width: 0
        height: 0
        display: inline-block
        border-left: 6px solid transparent
        border-right: 6px solid transparent
        border-top: 6px solid #9d1d20
      &.active::after
        border-bottom: 6px solid #9d1d20
        border-top: none

.vertical-left-menu > li:last-child
  margin: 0 0 50px 65px
  border: none
  a
    color: #122549
    padding-left: 0
    &:before
      display: none
  .active, .active:hover, .active.disabled:hover
    color: #cd091d
  ul
    margin-bottom: 0

.course-completed-icon::after
  background: asset-url('sprite_ct.png') no-repeat 0 -15px
  position: absolute
  top: 18px
  right: 23px

.course-taking-left-nav.active
  left: 0
  #showLeftNav
    display: none
  .nav-heading
    display: block
    margin-top: -50px
  .vertical-left-menu
    left: 0

/* Right Menu css start */
.course-taking-right-nav
  right: -400px
  left: auto
  top: 0
  position: fixed
  width: 460px
  min-height: 100%
  z-index: 100
  border-left: none
  border-left: solid 1px #dfdfdf
  transition: right 0.5s
  -webkit-transition: right 0.5s
  .nav-heading
    padding: 15px 20px 18px 0
    .hide-block
      float: left
  .hide-block .hide-icon
    border-right: solid 1px #dfdfdf
    &:after
      border-top: 6px solid transparent
      border-bottom: 6px solid transparent
      border-left: 6px solid #9d1d20
      border-right: none
  .nav-heading
    .hide-block span
      margin: 7px 0 0 5px
    h5
      margin-left: 20px
      float: left
  .right-close-wrapper
    position: relative
    padding: 60px 0 75px 0px
    width: 58px
    overflow: hidden
    a
      color: #9d1d20
      position: absolute
      margin-left: -27px
      -webkit-transform: rotate(90deg)
      -moz-transform: rotate(90deg)
      -o-transform: rotate(90deg)
      transform: rotate(90deg)
      font-size: 24px
      font-weight: bold
      &:before
        content: ''
        width: 0
        height: 0
        display: inline-block
        border-top: 6px solid
        border-right: 6px solid transparent
        border-left: 6px solid transparent
        position: absolute
        left: 50%
        top: 90%
        margin-left: -6px

.course-taking-right-nav.active
  right: 0
  #rightCloseWrapper
    display: none
  .right-nav-content, .nav-heading
    display: block

/* resources content css */
.resources-link
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  z-index: 10
  border-top: solid 1px #dfdfdf
  border-bottom: solid 1px #dfdfdf
  li
    float: left
    list-style-type: none
    cursor: pointer
    &:first-child
      margin: 0
    a
      padding: 20px 0
      border-right: solid #dfdfdf 1px
      color: #122549
      font-weight: bold
      display: block
      font-size: 16px
      width: 106px
      text-align: center
    &:last-child a
      border-right: none
    &:first-child a
      border-left: solid #dfdfdf 1px

.resources-link li.active a
  background: #F2F2F2
  color: #9d1d20

.tab-content
  border: solid #dfdfdf 1px
  padding: 30px 20px 10px 36px
  border-top: none
  height: 500px
  overflow: auto
  border-bottom: none
  h2
    margin-bottom: 20px
    color: #cd091e
    text-transform: uppercase
    font: bold 20px 'fira-sans', arial, sans-serif
  h4
    color: #2c3843
    font: bold 14px 'fira-sans', arial, sans-serif
    margin: 0
  p
    font-size: 14px
    margin-bottom: 28px
  .sub-heading
    margin-bottom: 0
  ol
    margin-bottom: 28px
    li
      list-style-type: decimal
      list-style-position: inside
  .error-message
    font-size: 14px
    font-style: normal
  .no-resources
    color: #969696

.resources-note-content
  padding: 30px 0 10px 0
  h2
    margin: 0 20px 20px 36px
  .note-content
    display: block
    padding: 14px 20px 14px 36px
    p
      margin: 0
      color: #2c3843
    &:hover
      background: #f2f2f2
  .error-message
    margin: 0 20px 0 36px

/* resources document css */
.resources-document-content
  margin: -10px -20px 0 -36px
  li
    padding: 12px 30px 12px 36px
    font-size: 14px
    text-transform: capitalize
    border-top: solid #dddddd 1px
    cursor: pointer
    a
      color: #3f5061
    &:hover
      background: #f2f2f2
      a
        color: #cd091d
    &:last-child
      border-bottom: solid #dddddd 1px
    &:first-child
      font-weight: bold

/* resources quote css */
.resources-quote-content,
.resources-video-content
  margin: -10px -20px 0 -36px
  li
    padding: 12px 30px 12px 36px
    font-size: 14px
    border-top: solid #dddddd 1px
    &:hover
      background: #f2f2f2
    &:last-child
      border-bottom: solid #dddddd 1px
    p, span, strong
      margin: 0
      font-style: italic

.resources-quote-content
  li
    span
      font-size: 12px
      display: inline-block
      margin-top: 6px

.videos-content
  h4
    margin-bottom: 10px

.resources-video-content
  margin-top: 0
  .chapter-name
    font-weight: bold
    padding: 12px 30px 12px 36px
  .error-message
    display: block
    padding: 12px 30px 12px 36px
  li
    overflow: hidden
    padding: 0
    .video-info
      position: relative
      z-index: 1
      background: #FFF
      float: left
      width: 90%
      padding: 12px 30px 12px 36px
      .thumb-wrap
        width: 60px
        height: 43px
        display: table-cell
        vertical-align: middle
        position: relative
        cursor: pointer
        img
          max-width: 60px
          vertical-align: middle
        .play-icon
          width: 14px
          height: 12px
          background: rgba(0,0,0,0.8)
          border: solid rgba(255,255,255,0.5) 2px
          border-radius: 3px
          -webkit-transform: translate(-50%, -50%)
          -moz-transform: translate(-50%, -50%)
          -o-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
          position: absolute
          left: 50%
          top: 50%
          &:after
            content: ''
            width: 0
            height: 0
            display: inline-block
            border-top: 4px solid transparent
            border-bottom: 4px solid transparent
            border-left: 4px solid #FFFFFF
            -webkit-transform: translate(-50%, -50%)
            -moz-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
            position: absolute
            left: 50%
            top: 50%
      .video-name
        padding-left: 15px
        display: table-cell
        vertical-align: middle
        color: #3f5061
        cursor: pointer
      &:hover
        background: #f2f2f2
    .video-player
      background: #f2f2f2
      position: relative
      float: left
      width: 90%
      max-height: 0
      transition: max-height 0.5s
      -webkit-transition: max-height 0.5s
      padding: 0 25px 0 36px
      p
        color: #cd091d
        margin-bottom: 10px
    .active
      padding: 25px 25px 25px 36px
      max-height: 300px
    p
      font-style: normal

/* footer css */
.ct-footer
  position: relative
  bottom: 0
  display: none
  width: 100%
  .copyright
    position: relative
    z-index: 1
    text-align: right

/* custom scroll bar css */
.mCSB_scrollTools
  width: 10px
  .mCSB_dragger
    .mCSB_dragger_bar, &:hover .mCSB_dragger_bar
      background-color: rgb(104, 104, 104)

/* pagination css */
.pagination-block
  width: 842px
  height: 39px
  margin: 0 auto 30px
  position: relative
  z-index: 0
  .blue-btn
    display: block
    background: #122549
    color: #FFF
    font: 22px 'alternate-gothic-no-3-d', arial, sans-serif
    width: 120px
    text-align: center
    padding: 0
    line-height: 36px
    border: solid 1px #000
    text-transform: uppercase
    float: left
    margin-left: 13px
    cursor: pointer
  .prev-btn::before
    content: ''
    width: 15px
    height: 36px
    display: inline-block
    background: asset-url('sprite_ct.png') no-repeat 0 -56px
    margin-left: -13px
    float: left
  .next-btn
    margin: 0 13px 0 0
    &::after
      content: ''
      width: 15px
      height: 36px
      display: inline-block
      background: asset-url('sprite_ct.png') no-repeat 0 -56px
      margin-right: -13px
      float: right
      -webkit-transform: scaleX(-1)
      transform: scaleX(-1)
  .disabled.next-btn,
  .disabled.prev-btn
    background-color: #cccfd3
    border-color: #a1a1a1
    &::after,
    &::before
      background-position: 0 -202px
  .pagination-wrap
    float: left
    width: 572px
    text-align: center
    position: relative
    margin-top: 2px
    .paginate
      display: table
      margin: 0 auto
    .pagination
      display: inline-block
      overflow: hidden
      text-align: left
      float: left
      ul
        position: relative
        right: 0
        text-align: center
      li
        display: inline-block
        margin: 0 2px
        position: relative
        right: 0
        transition: right 0.5s
        -webkit-transition: right 0.5s
        a
          display: block
          text-align: center
          color: #122549
          background: #e6e6e6
          border: solid 1px #a1a1a1
          border-radius: 5px
          padding: 7px 0
          width: 32px
          &:hover
            background: #cccfd3
        .active
          background: #122549
          color: #FFF
          border: solid 1px #000000
          &:hover
            color: #122549
        .disabled
          background-color: #cccfd3
    .pagination-prev, .pagination-next
      display: inline-block
      position: relative
      top: 0
      float: left
      -webkit-transform: translate(0,35%)
      transform: translate(0,35%)
    .pagination-prev
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 8px solid #122549
      margin-right: 10px
    .pagination-next
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-left: 8px solid #122549
      margin-left: 10px
    .pagination-prev.disabled
      border-right-color: #cccfd3
    .pagination-next.disabled
      border-left-color: #cccfd3

.presentation-wrapper
  margin: -25px -50px
  padding: 25px 50px
  height: 475px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  position: relative
  h2
    margin-bottom: 20px
  .single-column-presentation,
  .presentation-text
    .text-list
      p
        margin-bottom: 10px
  .single-column-presentation,
  .two-col-layout
    h2
      margin-bottom: 50px
    .text-list-wrap
      height: 405px
      overflow: hidden
      width: auto
  .img-wrap
    vertical-align: top

.img-wrap
  width: 732px
  height: 425px
  text-align: center
  vertical-align: middle
  display: table-cell
  img
    max-width: 100%
    max-height: 100%

.course-content-block
  .presentation-wrapper
    .video-wrap
      width: 718px
      height: 412px
      margin: 0 auto
      .video-block
        width: 718px
        height: 412px
    .two-col-layout
      .left-col
        width: 340px
        &:first-child
          margin-right: 20px
        .video-wrap
          width: 340px
          height: 405px
          text-align: center
          .video-block
            width: 340px
            height: 200px

/* custom form element */
.radiobox-wrap,
.checkbox-list
  position: relative
  clear: both

.checkbox-list label,
.radiobox-wrap label
  float: left
  cursor: pointer
  width: 90%

.radio-wrap,
.checkbox-wrap
  width: 24px
  height: 24px
  margin-right: 17px
  float: left

.checkbox-wrap input[type='checkbox'],
.radio-wrap input[type='radio']
  filter: alpha(opacity=0)
  opacity: 0
  position: relative
  top: 0
  left: 0
  z-index: 1
  width: 24px
  height: 24px
  margin: 0
  padding: 0

.checkbox-wrap .custom-checkbox,
.radio-wrap .custom-radiobox
  width: 24px
  height: 24px
  background: asset-url('sprite_ct.png') no-repeat 0 0
  position: absolute
  top: 0
  left: 0
  cursor: pointer

.radio-wrap .custom-radiobox
  background-position: 0 -122px

.checkbox-wrap .custom-checkbox
  background-position: 0 -176px

.radio-wrap .active
  background-position: 0 -95px

.checkbox-wrap .active
  background-position: 0 -149px

.preview-message
  text-align: center
  font-size: 14px
  padding: 10px 0
  background: #fbfdd2
  display: none
  a
    color: #122549

.show
  display: block !important

.hide
  display: none !important

.course-taking-content
  .course-content-block
    .two-col-layout
      .right-col
        .editor-desc
          h1, h2, h3, h4, h5, h6
            color: inherit
            text-transform: inherit
            margin: 0
    .editor-desc
      font: 300 16px 'fira-sans', arial, sans-serif
      text-align: left
      line-height: 22px
      h1, h1 span
        font-size: 30px !important
      h2, h2 span
        font-size: 26px !important
      h3, h3 span
        font-size: 22px !important
      h4, h4 span
        font-size: 20px !important
      h5, h5 span
        font-size: 18px !important
      h6, h6 span
        font-size: 16px !important
      p, span, strong
        font-family: 'fira-sans', arial, sans-serif !important
      h1, h2, h3, h4, h5, h5, h6
        margin: 0
        padding: 0
        line-height: normal
        font-size: inherit
        text-transform: inherit
        font-weight: inherit
        color: inherit
        text-align: left
      h1, h2, h3, h4, h5, h5, h6,
      h1 span, h2 span, h3 span, h4 span, h5 span, h5 span, h6 span
        font-family: 'alternate-gothic-no-3-d', arial, sans-serif !important
      ul, ol
        margin: 0 0 10px 32px
      ol
        li
          list-style-type: decimal !important
      ul
        li
          list-style: disc
      p, span, strong
        font-family: 'fira-sans', arial, sans-serif !important
    .two-col-layout
      .editor-desc
        li
          margin: 0
          font-weight: 300

/* Evaluation css */
.course-taking-content
  .course-evaluation-block
    h2
      text-align: left
    .evaluation-listing
      width: 100%
      padding: 0 34px 0 0
      &:after
        left: 0
        bottom: 0
        width: 100%
    ul
      margin: 10px -48px 0
      height: 315px
      overflow-y: auto
      border-top: 1px solid #cdcdcd
    li
      padding: 14px 0
      font-size: 17px
      margin-left: 48px
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        border-top: 1px solid #cdcdcd
        width: 98%
      &:first-child
        padding: 18px 0 18px 48px
        margin: 0
        font-size: 14px
        &:after
          left: 0
          width: 100%
      .evaluation-states
        width: 38%
        float: left
        margin-left: 0
        font-size: 20px
        text-align: left
      span
        width: 11%
        margin-left: 10px
        float: left
        line-height: 16px
        text-align: center
      label
        width: 38%
        float: left
        margin-left: 0
        line-height: 20px
      .radiobox-wrap
        clear: none
        text-align: center
        .radio-wrap
          float: none
          display: inline-block
          margin-right: 0
          position: relative
        .custom-radiobox
          margin-left: 0
          left: 0
          width: 24px
    .blue-btn
      margin-top: 48px
      display: block
      text-align: center
      text-transform: uppercase

@media (min-width: 768px) and (max-width: 1366px)
  .slide-right-content
    margin-left: 321px
    +addContentTransition

@media (min-width: 768px) and (max-width: 1024px)
  .ct-header, .ct-footer
    .right:after
      width: 65%

  .ct-content
    overflow: hidden

  .course-taking-right-nav.active
    right: 0

  .ct-header .logout-wrap,
  .ct-footer .copyright
    display: table
    float: right
    margin-right: 35px
.pdf-content
  overflow-x: hidden

.active-custom-content
  margin-top: 0 !important

.iframe-wrapper
  overflow: scroll
  -webkit-overflow-scrolling: touch