%section
  .custom-page-header
    %h1= localize('content_heading')
  .add-custom-content
    = link_to localize('new'), new_version_course_section_custom_content_path, class: 'btn btn-primary pull-right' 
    .clearfix
  .custom-content-wrapper
    %table.table.table-striped.table-bordered.table-condensed.table-hover
      %thead
        %tr
          %th= localize('content_id')
          %th= localize('content_name')
          %th= localize('content_zip')
          %th= localize('action')
      %tbody
      - @customcontents.each do |customcontent|
        %tr
          %td= customcontent.id 
          %td= customcontent.name
          %td
            = link_to customcontent.zip.model[:zip], version_course_section_custom_content_path(id: customcontent.id)
          %td
            = link_to localize('edit'), edit_version_course_section_custom_content_path(id: customcontent.id), class: 'btn btn-default'
            = link_to localize('delete'), {action: :destroy, id: customcontent.id}, data: {confirm: t('delete_message')}, method: :delete, class: 'btn btn-sm btn-danger'

