%section.add-custom-content
  .loader
  .custom-page-header
    %h1= localize('new_form')
  .custom-content-wrap
    = simple_form_for(@customcontent, url: {action: 'create'}) do |f|
      = render 'form', f: f
